article {
  margin: 15px;
}

ul {
  list-style: none;
}

#svg-container {
  display: flex;
  justify-content: center;
}

#bowling {
  width: 800px;
  height: 800px;
  transform: scale(0.7);
}

svg text {
  font-size: 20px;
  font-weight: 100;
  text-anchor: left;
}

svg image {
  height: 1210px;
  width: 1210px;
}

stop {
  stop-opacity: 0.8;
}

.str {
  stroke-width: 0.1;
}

.wickets {
  fill: white;
  stroke: grey;
}

.crease {
  stroke: white;
  stroke-width: 0.7;
}

.beavers {
  stroke: lightblue;
  fill: lightblue;
}

.ribbon {
  stroke: salmon;
  fill: salmon;
}

.tti {
  stroke: darkblue;
  fill: darkblue;
}

.gift-shop {
  stroke: green;
  fill: green;
}

.teaching {
  stroke: yellow;
  fill: yellow;
}

.huboo {
  stroke: orangered;
  fill: orangered;
}

#key-container {
  width: 230px;
  height: 490px;
  fill: white;
  stroke: darkgreen;
  stroke-width: 1px;
}

.first {
  stop-color: rgb(221, 250, 170);
}

.second {
  stop-color: rgb(198, 247, 82);
}

.third {
  stop-color: rgb(166, 241, 112);
}

.fourth {
  stop-color: rgb(144, 239, 140);
}

.fifth {
  stop-color: rgb(132, 214, 134);
}

.sixth {
  stop-color: rgb(103, 158, 132);
}

.seventh {
  stop-color: rgb(86, 125, 127);
}

.eighth {
  stop-color: rgb(70, 95, 120);
}

.ninth {
  stop-color: rgb(60, 74, 115);
}

#js-huboo-modal-open {
  width: 200px;
  height: 50px;
  fill: transparent;
}

#js-teaching-modal-open,
#js-gift-shop-modal-open,
#js-tti-modal-open,
#js-ribbon-modal-open,
#js-beavers-modal-open {
  width: 200px;
  height: 75px;
  fill: transparent;
}

#js-huboo-modal-open:hover,
#js-teaching-modal-open:hover,
#js-gift-shop-modal-open:hover,
#js-tti-modal-open:hover,
#js-ribbon-modal-open:hover,
#js-beavers-modal-open:hover {
  cursor: pointer;
}

rect.huboo-modal {
  width: 650px;
  height: 235px;
  fill: white;
  stroke: orangered;
  display: none;
}

rect.teaching-modal {
  width: 650px;
  height: 315px;
  fill: white;
  stroke: yellow;
  display: none;
}

rect.gift-shop-modal {
  width: 650px;
  height: 260px;
  fill: white;
  stroke: green;
  display: none;
}

rect.tti-modal {
  width: 650px;
  height: 315px;
  fill: white;
  stroke: darkblue;
  display: none;
}

rect.ribbon-modal {
  width: 650px;
  height: 260px;
  fill: white;
  stroke: salmon;
  display: none;
}

rect.beavers-modal {
  width: 650px;
  height: 260px;
  fill: white;
  stroke: lightblue;
  display: none;
}
