article {
  margin: 15px;
}

ul {
  list-style: none;
}

#bowling {
  width: 800px;
  height: 800px;
  transform: scale(0.7);
}

#svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
