
main>section{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:20px;
}
body{
    margin:0;
    background-color: beige;
} 
h3{
    font-size:1.1em;
    text-transform:capitalize;
    margin:1em 0 0.3em 0em;
}
h2{
    text-align: center;
}
h1{
    text-align:center;
}
p{
    font-style:normal;
    color:#525151
}
ul{
    list-style-type: none;
    padding: 0;
    text-decoration: none;
}

.top-panel{
    background-color: rgb(9, 139, 133);
    border: none;
    color: white;
    text-align: center;
    margin:15px;
    border-radius: 10px;
}
nav>a{
    background-color: rgb(9, 139, 133);
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    box-align: centre;
    border-radius: 5px;
    width:auto;
    box-sizing: border-box;
}
nav>a:hover {
    opacity: 0.6;
}
div>header{
    padding: 0.05em;
    font-size: 30px;
    margin:10px 10px 0 10px;
}

#about-me{
    margin:auto 10%;
}


.italic{
    font-style: italic;
}

#contact-me li{
    margin:20px;
    text-decoration: none;
    text-align: center;
}
a{
    text-decoration: none;
    color: inherit
}
.contact-links:hover{
    opacity:0.5;
    cursor: pointer;
}
.bgcgrey{
    background-color: lightgray;
}
/* .bgcbeige{
    background-color: beige;
} */
.container {
    width: 60%;
    margin: auto;
    height: auto;
}
.one-of-two-cols{
    width:48%;
    float:left;
    text-align: right;
}
.two-of-two-cols{
    width:48%;
    float:right;
}

.clearfix {
    clear:both;
}

footer{
    text-align: center;
    margin: 10px;
}
#skills-box li{
    margin:15px;
    text-align: right;
    
}
#skills-box{
    box-sizing: border-box;
    text-align: center;
    width: 300px;
    display: block;
    margin:0 auto;
}
.score{
    box-sizing: border-box;
    display: inline;
    margin: 25px;
    text-align: center;
}


