:root {
  --nav-vol: rgb(28, 178, 189);
}

@media only screen and (min-width: 550px) {
  #extra-curricular > div > div {
    min-width: 50%;
  }

  h1 {
    font-size: 5em;
  }

  header {
    height: 93vh;
  }

  #cheer {
    border-right: 10px solid transparent;
  }

  #gym {
    border-left: 10px solid transparent;
  }
}

@media only screen and (min-width: 725px) {
  nav {
    text-align: center;
    background-color: var(--nav-vol);
    position: sticky;
    top: 0;
    text-transform: initial;
    z-index: 9;
  }

  nav > a {
    background-color: var(--nav-vol);
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-align: centre;
    border-radius: 5px;
    width: auto;
    box-sizing: border-box;
  }

  nav > a:hover {
    opacity: 0.6;
  }

  #extra-curricular ul {
    font-size: 0.8em;
  }

  #extra-curricular img {
    width: 90%;
    overflow: hidden;
  }

  #extra-curricular > div > div {
    min-width: 33.33%;
    border: 0;
  }

  .skill-explanations {
    vertical-align: center;
    font-size: 1.7vw;
  }

  .skills-container {
    margin: 0;
    display: grid;
    grid-template-areas:
      "heading heading heading"
      ". descriptions ."
      "skill-list skill-rating explanation";
    grid-template-columns: 130px 150px 50%;
    grid-template-rows: 40px 100px auto;
    grid-gap: 10px
  }
}

@media only screen and (min-width: 950px) {
  #extra-curricular ul {
    margin: 0;
    font-size: 1em;
    padding: 1em;
  }

  h1 {
    font-size: 2.5em;
  }

  #extra-curricular > div {
    flex-direction: row;
    padding: 0;
  }

  #about-me > div {
    padding: 30px 5%;
    margin: 0;
    text-align: justify;
    display: flex;
    flex-direction: row;
  }

  #about-me > div > div {
    padding: 0 5%;
    margin: 0;
  }

  #about-me img {
    width: 250px;
    height: 250px;
  }

  .skill-explanations {
    vertical-align: center;
    font-size: 1.3vw;
  }
}

@media only screen and (min-width: 1450px) {
  #extra-curricular ul {
    padding: 0 15% 25% 15%;
  }
}
