*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color:#42e8f4;
}

nav{
    background-color:black;
}

nav li{
    display: inline;
    padding: 10px;
    text-transform: uppercase;
}

nav ul, nav li{
    padding: 10px;
}

nav a:hover{
    color:black;
    background-color:white;    
}
nav a{
    padding: 10px;
    text-decoration: none;
    color: white;
}

#title{
    color:white;
    text-align: center;
    background-color: black;
    margin-bottom:0px;
}

h2{
    text-align: center;
    padding: 10px;
    color: white;
    background-color:#1d6ae5;
}

input, select{
    width: 100%;
    margin: auto;
    padding: 12px 20px;
    background-color:#f0eff2;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
}

#form{
    margin: auto;
    width: 50%;
}

#footer{
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }

 #footer a{
     color:white;
     padding:0 20px;
 }
 #footer a:hover{
    color:yellow;
}
#footer i{
    font-size:15vw;
}

@media only screen and (min-width: 800px) {
    #footer i{
        font-size:7vw;
    }
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

@media (min-width: 601px) {
    .bgimg-1 {
        background-image: url("David\ Cameron.jpg");
    }
    #form{
        margin: auto;
        width: 50%;
    }
}

@media (max-width: 600px) {
    .bgimg-1 {
        background-image: url("10DS.jpg");
    }
    #form{
        margin: auto;
        width: 80%;
    }
    .caption span.border, .scroll span.border {
    
    }
}

.caption {
  position: absolute;
  left: 0;
  top: 70%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border, .scroll span.border {
    background-color: rgb(71, 71, 71);
    color: #fff;
    padding: 18px;
    font-size: 15px;
    letter-spacing: 10px;
}

.scroll {
    position: absolute;
    left: 0;
    top: 80%;
    width: 100%;
    text-align: center;
    color:white;
  }