body {
  background-color: pink;
}

div.left {
  grid-area: leftt;
}

div.mid {
  grid-area: mid;
}

.right > h2 {
  grid-area: heading;
  margin: 0;
  padding-top: 70%;
}

.skill-rating {
  grid-area: skill-rating;
  text-align: center;
}

.skill-rating i {
  margin: 0 3px;
}

.skill-list {
  grid-area: skill-list;
}

.skill-explanations {
  grid-area: explanation;
}

.skill-list ul {
  padding: 0;
}

.descriptions {
  grid-area: descriptions;
  padding: 0;
  text-align: left;
  font-size: 0.8em;
}

.descriptions ul {
  transform: rotate(270deg);
  padding: 0;
  margin-bottom: 200px;
}

.descriptions li {
  margin-bottom: 6px;
}

.right-container {
  display: flex;
  flex-direction: row;
  grid-area: rightt;
  justify-content: center;
  margin-top: -80px;
}

.right li {
  list-style-type: none;
}

.right {
  margin: 0;
  display: grid;
  grid-template-areas:
    "heading descriptions"
    "skill-list skill-rating"
    "explanation explanation";
  grid-template-columns: 150px 150px;
  grid-template-rows: 150px 230px;
}

main {
  margin: 0;
  display: grid;
  grid-template-areas:
    "leftt"
    "mid"
    "rightt";
  grid-template-columns: 1fr;
  grid-gap: 40px;
  text-align: justify;
}

h2 {
  font-size: 30px;
  text-align: left;
}

main div.right div {
  margin: 0;
}

div ul.skillslist {
  list-style: none;
  padding: 0;
}

ul.icons {
  padding: 0;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  font-size: 20px;
}

li.icon {
  display: inline-block;
  margin: 5px;
}

li.icon span {
  font-size: 12.5px;
  display: block;
}

li.aboutmelabel,
li.aboutmelabel:hover {
  height: 170px;
  z-index: 4;
  top: 0;
}

div.right {
  float: center;
  margin: 0;
}

li.icon {
  font-size: 2.5em;
}

@media only screen and (min-width: 1014px) {
  li.aboutmelabel,
  li.aboutmelabel:hover {
    height: 50px;
  }

  div.mid {
    margin-top: 20px;
  }

  div.left {
    margin: 0;
  }

  main {
    margin: 0;
    display: grid;
    grid-template-areas: "leftt mid rightt";
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    text-align: justify;
  }
}
