body {
  background-color: rgb(192, 217, 255);
  position: relative;
}

p {
  text-align: justify;
  width: 70%;
  float: center;
  margin: 0 auto;
  margin-top: 20px;
}

li.nowlabel,
li.nowlabel:hover {
  height: 170px;
  z-index: 4;
  top: 0;
}

@media only screen and (min-width: 1014px) {
  li.nowlabel,
  li.nowlabel:hover {
    height: 50px;
  }
}
