body {
  background-color: lightgreen;
  position: relative;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 0, 0, 0.95);
  padding: 20px;
  border: 0 solid black;
  z-index: 5;
  color: white;
  font-family: 'Crimson Text', serif;
  padding: 5%;
}

.date {
  font-weight: 900;
  font-size: 150%;
  text-align: center;
  margin: 0;
  margin-top: 20px;
}

.establishment {
  font-weight: 700;
  font-size: 120%;
  text-align: center;
  margin: 10px 0;
}

.content {
  font-weight: 200;
  font-size: 100%;
  text-align: justify;
  margin: 0 auto;
}

p.content ul {
  width: 10%;
}

button.js-modal-close {
  width: 35%;
  height: 5%;
  font-family: 'Crimson Text', serif;
  color: white;
  background-color: red;
  font-size: 130%;
  border: 3px solid white;
  vertical-align: center;
  margin: 0 auto;
}

button.js-modal-close:hover {
  color: red;
  background-color: white;
  cursor: pointer;
}

h1 > div {
  font-size: 1.5em;
}

li.worklabel,
li.worklabel:hover {
  height: 170px;
  z-index: 4;
  top: 0;
}

.container {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  width: 100%;
}

div > button {
  margin: 10px;
}

.square-image {
  height: 200px;
  width: 200px;
  background-size: cover;
  display: inline-flex;
  background-position: center;
  border-radius: 50%;
  filter: brightness(50%);
  border: 3px black solid;
  margin: 10px;
}

.square-image:hover {
  filter: brightness(100%);
  border: 5px solid magenta;
  cursor: pointer;
}

#school {
  background-image: url('llangatwgg.png');
}

#college {
  background-image: url('nptc.jpg');
}

#uni {
  background-image: url('unii.png');
}

#liberty {
  background-image: url('liberty.jpg');
}

#deliveroo {
  background-image: url('deliveroo.jpg');
}

#ubereats {
  background-image: url('ubereatss.png');
}

#volunteering {
  background-image: url('umphang.jpg');
}

#valleymill {
  background-image: url('valleymill.jpg');
}

#nology {
  background-image: url('nologyy.png');
}

@media only screen and (min-width: 1014px) {
  li.worklabel,
  li.worklabel:hover {
    height: 50px;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .left-container {
    width: 40%;
  }

  .right-container {
    width: 60%;
  }

  .date {
    font-size: 300%;
  }

  .establishment {
    font-size: 250%;
  }

  .content {
    margin: 0 auto;
    font-size: 150%;
  }

  .modal-information {
    width: 60%;
    margin: 0 auto;
  }

  ul {
    font-size: 150%;
  }

  button.js-modal-close {
    width: 20%;
    height: 7%;
  }
}
