article {
  margin: 15px;
}

ul {
  list-style: none;
}

#modules {
  width: 200px;
  margin: 0 auto;
}

.innings {
  font-size: 16px;
  font-style: italic;
  font-weight: 800;
  display: block;
}

.grade {
  display: inline;
  width: 1.5em;
  float: right;
}

.tot-grade {
  display: inline;
  float: right;
}

.not-out {
  background-color: blueviolet;
  color: white;
}

.blank {
  color: transparent;
}

.thin {
  font-weight: 100;
  text-align: left;
}

.caught,
.bowled {
  display: none;
}

.bcdb-cw {
  background-color: darkblue;
  color: white;
}

.bcr-cw {
  background-color: red;
  color: white;
}

.bcw-cdb {
  background-color: white;
  color: darkblue;
}

.scorecard {
  margin: 0 auto;
  width: 32em;
  display: grid;
  grid-template-areas: "team team" "batter score" "extras ex-score" "total final";
  grid-template-columns: 14em 4.5em;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .caught,
  .bowled {
    display: initial;
  }

  .scorecard {
    margin: 0 auto;
    width: 32em;
    display: grid;
    grid-template-areas: "team team team team" "batter caught bowled score" "extras extras extras ex-score" "total total final final";
    grid-template-columns: 14em 6.5em 6em 4.5em;
    justify-content: center;
  }
}

.team {
  margin: 0;
  grid-area: team;
  width: 100%;
  padding-bottom: 5px;
  border: 1px darkblue solid;
  border-radius: 5px 5px 0 0;
}

.batter {
  grid-area: batter;
  font-weight: 600;
  padding-top: 5px;
  border-left: 1px darkblue solid;
}

.batter li {
  padding-left: 5px;
}

.caught {
  grid-area: caught;
  padding-top: 5px;
}

.bowled {
  grid-area: bowled;
  padding-top: 5px;
}

.score {
  grid-area: score;
  font-weight: 600;
  padding-top: 5px;
  border-right: 1px darkblue solid;
  padding-bottom: 5px;
}

.score li {
  padding-right: 5px;
}

.extras {
  grid-area: extras;
  text-align: left;
  font-weight: 600;
  padding-left: 5px;
  border-left: 1px darkblue solid;
  padding-bottom: 5px;
}

.total {
  grid-area: total;
  text-align: left;
  font-weight: 600;
  padding-left: 5px;
  border-left: 1px darkblue solid;
  padding-bottom: 5px;
  border-bottom: 1px darkblue solid;
  border-radius: 0 0 0 5px;
  border-top: 1px darkblue solid;
  padding-top: 5px;
  margin-bottom: 5px;
}

.final {
  grid-area: final;
  font-weight: 600;
  text-align: right;
  padding-right: 5px;
  border-right: 1px darkblue solid;
  padding-bottom: 5px;
  border-bottom: 1px darkblue solid;
  border-radius: 0 0 5px 0;
  border-top: 1px darkblue solid;
  padding-top: 5px;
  margin-bottom: 5px;
}

.ex-score {
  grid-area: ex-score;
  font-weight: 600;
  border-right: 1px darkblue solid;
  padding-bottom: 5px;
  padding-right: 5px;
}

.scorecard li {
  text-align: left;
}

.score li,
.ex-score {
  text-align: right;
}

.batter .not-out {
  border-left: 0.5px darkblue solid;
}

.blank {
  color: transparent;
}

.ex-score {
  padding-top: 5px;
}
