body{
    color:white;
    font-family:Ubuntu;
    font-size:13px;
    text-align: center;
    border: 12px red;
    background-image:url('folk-pattern.png') ;
    background-position: bottom;
    background-attachment: fixed;
    padding: 0% 5%;
    margin: 0% 7%;
}
div.content{
    background-color: rgb(34, 31, 31);
    padding: 0.5em;
    border: black solid 1px;
    padding: 0% 5%;
    margin: 2% 0%;
}
h1{
    color: #516f92;
    font-size: 4em;
    font-family: Josefin Sans;
}
h2{
    color: #516f92;
    font-size: 2.3em;
    margin: 2%;
}
p{
    text-indent:2px;
    font-size:1em;
    text-align: center;
    padding: 1% 2%;
}
/*nav bar*/
nav > * {
    display: inline-block;
}
nav {
    background-color: #516f92;
    position: sticky;
    top: 2%;
    text-transform: initial;
    padding: 0.45em;
}
nav ul{
    list-style-type:none;
    margin: 0 auto;
    padding: 0;
}
nav li {
    display: inline;
    padding: 0;
}
nav li a{
    display: inline;
    padding: 6px 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 1px;
}
li a.selected{
    color: #fff;
    background-color: rgb(253, 74, 74);
}
nav a:hover{
    background-color: rgb(49, 48, 48);
}
main {    
    padding: 0% 0%;
    margin: 0% 0%; 
}
.content{
    text-align: left;
    color: white;   
    font-size: 1em;
}
#introtext{
    background-color: inherit;
    border: none;
    font-size: 1.5em;
}
img{
    width: 100%;
    height: 100%;
}
#satyimage{
    float: right;
    width: 30%;
    height: 30%;
}
li{
    list-style-type: none;
}
#contactinfo li{
    font-size:17px;
    margin-left: 50px;
    padding: 0% 3%;
    margin: 3% 0%; 
}
#contactinfo div{
    font-size:13px;    
    padding: 0% 5%;
}
#socialmedia i{
    text-decoration: none;
    margin:0 auto;
    padding: 3%;
    font-size: 2.5em;
    display:inline;
}
#linkedin{
    color:rgb(0, 119, 181);
}
#twitter{
    color:rgb(0,172, 237);
}
#facebook{
    color:rgb(72, 103, 170);
}
#bottomnav{
    text-decoration: none;
    color:white;
}