*{
    box-sizing: border-box;
    padding: 0.2em 1.2em;
    margin: 0.5em
}
body{
    color:white;
    font-family:Ubuntu;
    font-size:15px;
    text-align: center;
    border: 1px white;
    background-image:url('folk-pattern.png') ;
    background-position: bottom;
    background-attachment: fixed;
}
h1{
    color: #516f92;
    font-size: 4em;
    font-family: Josefin Sans;
}
nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
nav ul{
    text-transform: initial;
    list-style-type:none;
    padding:0;
    margin:0;
    display: inline;
}
nav li {
    display:inline;
    float:left;
}
nav li a{
    display: inline;
    padding: 12px;
    text-decoration: none;
    color: rgb(165, 200, 223);
    background-color: none;
}
nav a:hover{
    background-color: rgb(24, 68, 119);
    border-radius: 2px;
}
p{
    text-indent:2px;
    font-size:1em;
}
#aboutme{
text-align: center;
color: white;
}
#contactdetails{
text-align: left;
}
img{
    position: left;
    width: 20%;
    height: auto;
}