* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

nav {
    background-color: #2929a3;
    color: white;
    text-transform: uppercase;
    padding: 1.25em;
}

#title {
    margin-right: 3em;
}

.bold {
    font-weight: bold;
}

nav>* {
    display: inline;
}
  
nav>ul {
    list-style: none;
    font-size: 0.75em;
    margin-right: 0.25em;
}

nav li {
    margin: 0.5em;
    margin-top: 0;
    float: right;
}

nav a {
    color: inherit;
    padding: 0.25em;
}

nav a:hover {
    background-color: white;
    color: #2929a3;
    border-radius: 2px;
    font-weight: bold;
}

main {
    background-color: #ffffff;
}

body {
    font-family:sans-serif;
    font-size: 20px;
}

a {
    display: block;
}

#aboutwrap{
    width: 30%;
    float: left;
}

.aboutme h2{
    border-radius: 0 5px 5px 0;
}

h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding: 0.15em;
    padding-left: 1em;
    background-color: #2929a3;
    color: #FFF;
    font-size: 1.25em;
    border-radius: 5px 0 0 5px;
}

.rounded-right {
    border-radius: 0 15px 15px 0;
}

.idden{
    border-radius: 15px 0 0 15px;
}

.aboutme p {
    width: 100%;
    text-align: justify;
    float: left;
}

/*REDUNDANT CSS USED FOR HIDDEN
    SECTIOINS DEMO */

.idden {
    float: right;
    text-align: center;
    width: 65%;
}

.idden ul{
    margin-top: 2.5em;
}

.idden li{
    list-style: none;
    line-height: 2em;
}

/*REDUNDANT CSS USED FOR HIDDEN
    SECTIOINS DEMO */

.hidden {
    float: right;
    text-align: center;
    width: 65%;
}

.hidden ul{
    margin-top: 2.5em;
}

.hidden li{
    list-style: none;
    line-height: 2em;
}

.contact-button {
    font-size: 3em;
    margin: 0.25em;
    padding: 0;
}

.hidden {
    display: none;
}

#skills-panel {
    text-align: left;
    width: 40%;
    float: left;
}

.skills-header {
    margin-bottom: 1em;
}

#skills-panel li {
    border-bottom: 1px dotted black;
    padding: 0.1em;
}

.score>* {
    display: inline-block;
    padding: 0.5em;
}

.score>i {
    float: right;
}

#extra-skills {
    float: right;
    text-align: left;
    width: 50%;
}

.skill-logo {
    float: right;
    padding-right: 1em; 
}

#chinese {
    font-weight: bold;
}

.awards ul {
    margin: 0;
    padding: 0;
}

.award-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0.25em;
}

.award-def, {
    font-size: 0.75em;
    font-weight: normal;
    margin-top: 0.15em;
}

.award-icon{
    font-size: 1.5em;
}

.award-year{
    font-size: 0.75em;
}