  
    ul.square {
        list-style-type: square;
        }
        ul.none {
        list-style-type: none;
        }
       
    
        .underline{
            text-decoration:none;
        }
    body { background-image: url('https://wallpapercave.com/wp/Q1cr1tZ.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        color: rgb(4, 29, 66);
        font-family:'Barlow';

    }
    h2{
        text-align: center;
    }


nav a{
  text-decoration: none;
  color:inherit;
}

body{

margin: 0;
}

nav{
    background-color: #77dfff;
    color:white;
    text-transform: uppercase;
    padding: 1em;
    
}
nav li{
    
    display: inline;
    margin: 0 0.5em;
}

nav a:hover{
    background-color: #aba8ff;
    border-radius: 2px;


}


nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: small;
    float:right;
}

nav > * {
  display:inline;

}
nav .brand {
  margin-right: 2em;
}