<main>
    <!-- <div id="welcomescreen">
        <img id="sglogo" src="googlecv/satyamglogo.jpeg" alt="satyam gehani">
        <img id="loading" src="googlecv/googleloading.gif" alt="loading animation">
        <button id="startnav">Start Navigation</button>
    </div> -->
    <app-topsearchbar></app-topsearchbar>
    <app-imagecarousel></app-imagecarousel>
    <app-mydetails></app-mydetails>
    <div id="large-map">
      </div>
  
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="script.js" type="text/JavaScript"></script>