:root {
    --theme-primary:rgb(23,160,134);
    --theme-secondary:rgb(46,205,115);
    --theme-tertiary:rgb(39,174,95);
    --theme-4:rgb(63,151,137);
    --theme-5:rgb(23,160,134);
    --theme-bg:rgb(70,70,106);
    --theme-text-light: white;
    --theme-text-dark: black;
}