:root {
    --margin-sm: 0.4em;
    --margin-md: 0.8em;
    --margin-lg: 1.2em;
    --margin-xl: 2.4em;
}

body {
    font-family: 'Raleway', sans-serif;;
    margin:0;
    padding: var(--margin-lg,1.2em);
    background-color:var(--theme-bg, black);
}
#rotate {
    display:block;
    width:100%;
}

.hidden {
    display:none;
}

nav a:nth-of-type(1) {
    background-color:var(--theme-primary, black);
    color:var(--theme-text-light, white);
}

nav a:nth-of-type(1).active {
    color:var(--theme-primary, black);
    background-color:var(--theme-text-light, white);
}

nav a:nth-of-type(2) {
    background-color:var(--theme-secondary, black);
    color:var(--theme-text-light, white);
}

nav a:nth-of-type(2).active {
    color:var(--theme-secondary, black);
    background-color:var(--theme-text-light, white);
}

nav a:nth-of-type(3) {
    background-color:var(--theme-tertiary, black);
    color:var(--theme-text-light, white);
}

nav a:nth-of-type(3).active {
    color:var(--theme-tertiary, black);
    background-color:var(--theme-text-light, white);
}

nav a:nth-of-type(4) {
    background-color:var(--theme-4, black);
    color:var(--theme-text-light, white);
}

nav a:nth-of-type(4).active {
    color:var(--theme-4, black);
    background-color:var(--theme-text-light, white);
}

nav a:nth-of-type(5) {
    background-color:var(--theme-5, black);
    color:var(--theme-text-light, white);
}

nav a:nth-of-type(5).active {
    color:var(--theme-5, black);
    background-color:var(--theme-text-light, white);
}

a {
    color:var(--theme-secondary, black);
    text-decoration: none;
}


h1 {
    color:var(--theme-primary, black);
}

p{
    color:var(--theme-secondary, black);
}

.circle {
    border-radius:50%;
}

.avatar {
    width:150px;
    height:150px;
    display:inline-block;
    border:5px solid var(--theme-text-light, white);
    background-color: white;
}

.row {
    width:100%;
}
.row::after, nav::after {
    display: block;
    content: "";
    overflow: auto;
    clear:both;
}

.row div, nav a {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
    float:left;
}

.col-1 {
    width:8.3333333333333333%;
}

.col-2 {
    width:16.6666666666666666%;
}

.col-3 {
    width:25%;
}

.col-4 {
    width:33.3333333333333%;
}

.col-5 { 
    width:41.6666666666666%;
}

.col-6 {
    width:50%;
}

.col-7 { 
    width:58.3333333333333%;
}

.col-8 {
    width:66.6666666666666%;
}

.col-9 { 
    width:75%;
}

.col-10 { 
    width:83.3333333333333%;
}

.col-11 {
    width:91.6666666666666%;
}

.col-12 { 
    width:100%;
}

header {
    text-align:center;
    padding: var(--margin-sm,0.4em);
}

header h1 {
    color: var(--theme-text-light, white);
    font-size:x-large;
}

nav {
    white-space: nowrap;
    font-size: small;
}

nav a {
    float:left;
    padding: var(--margin-xl, 2.4em);
    border-top: var(--margin-sm, 0.4em) solid var(--theme-bg, black);
    text-transform: uppercase;
    color:var(--theme-text-light, white);
    text-align:center;
}

nav a:hover {
    border-top: var(--margin-sm, 0.4em) solid var(--theme-text-light, white);
}

nav a.active{
    border-top: var(--margin-sm, 0.4em) solid var(--theme-text-light, white);
}

nav .fas, nav .fab {
    font-size:4em;
    display:block;
    margin-bottom: var(--margin-sm,0.4em);
}

main {
    background-color:var(--theme-text-light, white);
    padding: var(--margin-xl, 0.4em);
}

main h2 {
    margin:0;
    text-transform: uppercase;
    font-size: medium;
    color:var(--theme-text-dark, black);
    font-weight: bolder;
}
.bar-graph {
    margin-top: var(--margin-md, 0.4em);
    width:100%;
    font-size:small;
}
.bar-graph span {
    display:block;
    padding: var(--margin-sm, 0.4em);
    color: var(--theme-text-light, white);
    
    border-radius: var(--margin-sm, 0.4em);
    margin-bottom: var(--margin-sm, 0.4em);
}
.bar-graph span:nth-child(even){
    background-color:var(--theme-primary, black);
}
.bar-graph span:nth-child(odd){
    background-color:var(--theme-secondary, black);
}

footer {
    text-align:center;
    padding: var(--margin-xl,0.4em);
}

footer i {
    font-size:3em;;
    color:var(--theme-text-light, black);
    margin-left: var(--margin-sm,0.4em);
}

#schooling img {
    height:100px;
    margin-top: var(--margin-lg,0.4em);
}

#schooling .school-info {
    padding-left: var(--margin-lg,0.4em);
}

#schooling h4 {
    margin-left: var(--margin-sm,0.4em);
}

#certifications img {
    width:100%;
}

#certifications .row div {
    padding: var(--margin-lg,0.4em);
}

#contact input[type="submit"] {
    padding: var(--margin-lg,0.4em);
    margin-top: var(--margin-lg,0.4em);
    background-color:var(--theme-primary, black);
    color:var(--theme-text-light, black);
    cursor:pointer;
    border:0;
}

#contact input[type="submit"]:hover {
    background-color:var(--theme-secondary, black);
}

#contact input, #contact textarea, #contact label {
    display:block;
    margin-top: var(--margin-sm,0.4em);
}

#contact input[type="checkbox"], #contact input[type="radio"] {
    display:inline-block;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
    width:100%;
    padding: var(--margin-sm,0.4em);
    margin-top: var(--margin-lg,0.4em);
    font-family: 'Raleway', sans-serif;
}

.pull-right{
    float:right;
}

