

* {
  box-sizing: border-box;
}

.nametitle {
  text-align: center;
}

.bold {
  font-weight: 800;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  margin: 0;
}

nav {
  margin-top: 0;
  background-color: #7a97ff;
  text-transform: lowercase;
  padding: 0;
  height: 40px;
}

.home {
  vertical-align: margin:;
  list-style-type: none;
  text-transform: uppercase;
  font-size: smaller;
  float: left;
}

nav ul.navlinks {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-transform: uppercase;
  font-size: smaller;
  float: right;
}



nav li {
  display: inline-block;
  margin: 0 0;
}

nav > * {
  display: inline;
}

nav li:hover {
  color: white;
}

nav a {
  padding: 0 0.5em;
  padding-top: 0;
}







main {
  background-color: #bed5ff;
  margin: 0;
  padding: 0;
}
