* { box-sizing: border-box; }



.headaf {
  font-family: 'Bitter', serif;
  color: #fff;
  font-size: 1em;
  background-color: #3b7080;
  text-align: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 20px;
  margin: 0 auto;
}


nav {
  border: 1px solid black;
  margin: 0 auto;
  text-align: center;
  width: auto;
  height: 100px;
  max-width: 2000px;
}

h2 {
  background-color: #3b7080;
  padding: 10px;
  border-radius: 20px;
  color: white;
}

body {
  font-family: 'Oxygen', sans-serif;
  color: #3b7080;
  background-color: #fcec52;
  margin: 0 auto;
}

.button {
  cursor: pointer;
  background-color: red;
  color: white;
  font-size: 30px;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  padding: 2px;
  margin-bottom: 10px;
  width: auto;
  height: 100px;
  margin-top: 0;
  margin: 0;
  border: 0 solid black;
  vertical-align: 0;
}

.button:hover {
  background-color: #ff4457;
  color: white;
  font-size: 30px;
  border-radius: 0;
  text-align: left;
  text-decoration: none;
  padding: 2px 20px 2px 20px;
  width: 250px;
}
