* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgba(179, 171, 171, 0.726);
}

h2 {
  text-align: center;
  padding: 10px;
  color: white;
  background-color: black;
}

.burger-menu {
  display: inline-block;
  cursor: pointer;
}

.burger-menu p {
  display: inline;
  color: white;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 { opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.hide {
  display: none;
}

nav {
  background-color: black;
  text-align: center;
}

nav li {
  display: block;
  text-transform: uppercase;
}

nav ul,
nav li {
  padding: 20px 3px;
  margin: 0;
  text-align: center;
}

nav li:not(:last-child) {
  content: " | ";

  /* background-color: red; */

  /* color: white; */
}

nav a:hover {
  color: black;
  background-color: white;
}

nav a {
  padding: 0;
  text-decoration: none;
  color: white;
  overflow: hidden;
}

#title {
  color: white;
  text-align: center;
  background-color: black;
  margin-bottom: 0;
}

a {
  color: white;
  text-decoration: none;
}

.arrow {
  text-align: center;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.about-text {
  font-size: 30px;
  padding: 10px;
}

input,
select {
  width: 100%;
  margin: auto;
  padding: 12px 20px;
  background-color: #f0eff2;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4caf50;
  color: white;
}

#form {
  margin: auto;
  width: 50%;
}

#footer {
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

#footer a {
  color: white;
  padding: 0 20px;
}

#footer a:hover {
  color: yellow;
}

#footer i {
  font-size: 15vw;
}

@media only screen and (min-width: 1100px) {
  #footer i {
    font-size: 7vw;
  }

  #navigation {
    display: block;
  }

  .burger-menu {
    display: none;
  }

  nav li {
    display: inline;
  }
}

.bgimg-1 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

@media (min-width: 601px) {
  .bgimg-1 {
    background-image: url("img/me/graduation.png");
  }

  #form {
    margin: auto;
    width: 50%;
  }

  .caption span.border,
  .scroll-down span.border {
    padding: 18px;
    font-size: 15px;
    letter-spacing: 10px;
  }
}

@media (max-width: 600px) {
  .bgimg-1 {
    background-image: url("img/me/10DS.jpg");
  }

  #form {
    margin: auto;
    width: 80%;
  }

  .caption span.border,
  .scroll-down span.border {
    padding: 10px;
    font-size: 13px;
    letter-spacing: 8px;
  }
}

.caption {
  position: absolute;
  left: 0;
  top: 70%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border,
.scroll-down p {
  background-color: rgb(71, 71, 71);
  color: #fff;
}

.scroll-down p {
  padding: 15px;
}

.scroll-down {
  position: absolute;
  left: 0;
  top: 80%;
  width: 100%;
  text-align: center;
  color: white;
}

/* Sizing and logos for education row */
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  background-color: #1d6ae5;
  height: 300px;
  width: auto;
  text-align: center;
  line-height: 75px;
  margin: 10px;
}

.flex-container p {
  padding: 0 10px 10px 10px;
  font-size: 20px;
  color: white;
}

.logo {
  height: 80%;
  width: 100%;
  margin: 0;
  background-size: cover;
  background-position: center;
}

#nology {
  background-image: url("img/logos/nology-logo.jpg");
}

.lancaster {
  background-image: url("img/logos/lancaster-university-logo.png");
}

.somerset-college {
  background-image: url("img/logos/somerset.jpg");
}

#huish {
  background-image: url("img/logos/huish.png");
}

#castle {
  background-image: url("img/logos/castle-school-logo.png");
}

#nationwide {
  background-image: url("img/logos/Nationwide-Logo.jpg");
}

.ncs {
  background-image: url("img/logos/NCS-Logo.png");
}

.handco {
  background-image: url("img/logos/handco.png");
}

#willow-tree {
  background-image: url("img/logos/Willow-tree-logo.png");
}

#primark {
  background-image: url("img/logos/primark_logo.png");
}

#poundstretcher {
  background-image: url("img/logos/poundstretcher-logo.jpg");
}

.cartmel {
  background-image: url("img/logos/cartmelCollege.png");
}

#enactus {
  background-image: url("img/logos/Enactus-Logo.jpg");
}

.model-westminster {
  background-image: url("img/logos/model-westminster.jpg");
}

.cabinet-office {
  background-image: url("img/logos/cabinet-office-logo.jpg");
}

#bhf {
  background-image: url("img/logos/bhf.PNG");
}

#tough-mudder {
  background-image: url("img/me/tough-mudder.jpg");
}

#graduate {
  background-image: url("img/me/image.png");
}

#escape {
  background-image: url("img/logos/escape-logo.jpg");
}

#downing-street {
  background-image: url("img/me/10DS.jpg");
}

#appg {
  background-image: url("img/me/appg.jpg");
}

#jeremy {
  background-image: url("img/me/jeremy.jpg");
}

#david {
  background-image: url("img/me/David-Cameron.jpg");
}
