body {
  background: #645754 url(footer_lodyas.png) top left repeat;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  line-height: 2em;
  display: none;
}

.header-logo {
  text-align: center;
}

.logo {
  height: 200px;
  margin: 0 0 30px 0;
}

nav {
  position: sticky;
  top: 0;
  text-align: center;
  z-index: 2;
}

nav ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  display: inline-block;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #ddd;
}

.bodycenter-text {
  text-align: center;
}

.big-img {
  width: 100%;
  height: 500px;
  background-image: url("laptop.jpg");
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
}

.contain{
  width: 80%;
  margin: auto;
}

.about-me{
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.about-me-color {
  background-color: #a8a3a3;
}

.polaroids {
  display:flex;
  flex-direction: row;
 }

.polaroid img {
  height: 280px;
}

div.polaroid {
  width: 33.33%;
  background-color: #a8a3a3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.polaroid-text {
  text-align: center;
  padding: 10px 20px;
}

.work-experience {
  text-align: center;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
  background-color: #a8a3a3;
}

.timeline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 15px;
}

strong {
  font-weight: 600;
}

.timeline > div {
  padding: 0.25em 0.5em;
  border-color: lightgrey;
  border-style: solid;
  border-width: 0;
}

.timeline > div > div {
  padding: 0.5em;
}

.timeline > *:nth-child(even) > div::before {
  content: " ";
  width: 1em;
  height: 1em;
  border: lightgrey solid 0.125em;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: -0.75em;
  top: 0.75em;
  z-index: 1;
}

.timeline > div:nth-child(even) {
  border-left-width: 0.125em;
  position: relative;
  text-align: left;
}

.timeline > div:nth-child(odd) {
  border-right-width: 0.125em;
  text-align: right;
}

body > div {
  flex: 1;
}

.skills-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
}

.skills-column {
  float: left;
  width: 32%;
  margin-bottom: 16px;
  padding: 0 8px;
  /* flex: 1;
  width: 50%; */
}

.skills-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #a8a3a3;
  padding-top: 5px;
}

.skills-card img {
  height: 100px;
}

.skills-container {
  padding: 0 16px;
}


.skills-container::after,
.skills-row::after {
  content: "";
  clear: both;
  display: table;
}

.fa-html5 {
  color: #f16529;
  font-size: 1.5em;
}

#html5-fa1 {
  color: lightslategrey;
}

#html5-fa2 {
  color: lightslategrey;
}

.fa-css3-alt {
  color: #264de4;
  font-size: 1.5em;
}

#css3-fa1 {
  color: lightslategray;
}

#css3-fa2 {
  color: lightslategray;
}

.fa-js-square {
  color: lightslategrey;
  font-size: 1.5em;
}

#javas-fa {
  color: #fbde34;
  font-size: 1.5em;
}

#angular-fa{
  color: #dd0330;
  font-size: 1.5em;
}

.fa-angular {
  color: lightslategray;
  font-size: 1.5em;
}

#react-fa {
  color: #61dafb;
  font-size: 1.5em;
}

.fa-react {
  color: lightslategray;
  font-size: 1.5em;
}

#docker-fa {
  color: #05a9d1;
  font-size: 1.5em;
}

.fa-docker {
  color: lightslategray;
  font-size: 1.5em;
}

.contact-icon {
  text-align: center;
  padding-top: 15px;
}

.contact-icon a {
  color: white;
}

.mapouter {
  text-align: right;
  height: 350px;
  width: 350px;
  display: inline-block;
}

.gmap-canvas {
  overflow: hidden;
  background: none !important;
  height: 350px;
  width: 350px;
}

iframe {
  text-align: middle;
  width: 350px;
  height: 350px;
}

.fa-mobile-alt {
  font-size: 50px;
}

.fa-envelope {
  font-size: 50px;
}

.socials i {
  font-size: 100px;
  text-align: center;
}

.socials-link {
  margin: 0 auto;
  width: 85%;
  text-align: center;
}

.fa-facebook {
  color: #3b5998;
  padding: 50px;
}

.fa-twitter {
  color: #00aced;
  padding: 50px;
}

.fa-github {
  color: #fff;
  padding: 50px;
}

.fa-spotify {
  color: #1ed760;
  padding: 50px;
}

.fa-instagram {
  background: -webkit-gradient(linear, left top, left bottom, from(#7232bd), to(#ffdc7d));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 50px;
}

.footer {
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  border-top-color: #a8a3a3;
  border-top: solid;
  padding-top: 25px;
}

.footer-logo img {
  height: 100px;
}
