body{
  background:#645754 url(footer_lodyas.png) top left repeat;
  font-family: 'Montserrat', sans-serif;
  color:white;
}
h1{
  text-align:center;
  line-height: 2em;
  display:none;
}
.header-logo{
  text-align:center;
}
.logo{
  height:200px;
  margin:0 0 30px 0;
}
nav{
  position: sticky;
  top: 0;
  text-align:center;
}
nav ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  display:inline-block;
}
nav li {
  float:left;
}
nav li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #ddd;
}
li a.active {
  color: white;
  background-color: #4CAF50;
}

.center-text{
  text-align:center;
}
.about-me{
  margin-top:50px;
  margin-left:150px;
  margin-right:150px;
  margin-bottom:50px;
}

/*slideshow*/

#slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
  border-radius:5%;
}

.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 30s ease infinite;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
  position: relative;
  text-align: center;
  color: white
}

.slide-number {
  height: 510px;
  width: 728px;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}

#workexp-text{
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  opacity:0.5;
  font-size:1.5em;
}
#skills-text{
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  opacity:0.5;
  font-size:1.5em;
}
#edu-text{
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  opacity:0.5;
  font-size:1.5em;
}
#ref-text{
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  opacity:0.5;
  font-size:1.5em;
}
#socials-text{
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  opacity:0.5;
  font-size:1.5em;
  
}

/*end of slideshow*/
.work-experience{
  text-align:center;
  margin-top:50px;
  margin-left:150px;
  margin-right:150px;
  margin-bottom:50px;
}
.workexp-table{
  display:inline-block;
  margin-left:auto; 
  margin-right:auto;
  text-align: left;
}

/* start */

/* Three columns side by side */
.skills-column {
  float: left;
  width: 32%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .skills-column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.skills-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #a8a3a3;
  padding-top:5px;
}

.skills-card img{
  height: 100px;
}

/* Some left and right padding inside the container */
.skills-container {
  padding: 0 16px;
}

/* Clear floats */
.skills-container::after, .skills-row::after {
  content: "";
  clear: both;
  display: table;
}

.fa-html5{
  color:#F16529;
  font-size: 1.5em;
}

.fa-css3-alt{
  color:#264DE4;
  font-size: 1.5em;
}

.fa-js-square{
  color:#FBDE34;
  font-size: 1.5em;
}

.fa-angular{
  color:#DD0330;
  font-size: 1.5em;
}

.fa-react{
  color:#05A5D1;
  font-size: 1.5em;
}

.fa-docker{
  color:#3A8CB4;
  font-size:1.5em;
}

/* end -- */

.education{
  text-align:center;
  margin-top:50px;
  margin-left:150px;
  margin-right:150px;
  margin-bottom:50px;
}
.edu-table{
  display:inline-block;
  margin-left:auto; 
  margin-right:auto;
  text-align: left;
  
}

.contact-icon{
  text-align: center;
  padding-top:15px;
}
.contact-icon a{
  color:white;
}
.mapouter{
  text-align:right;
  height:350px;
  width:350px;
  display:inline-block;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:350px;
  width:350px;
}
iframe{
  align:middle;
}
.fa-mobile-alt{
  font-size:50px;
}
.fa-envelope{
  font-size:50px;
}  
.socials i{
  font-size:100px;
  text-align:center;
}
.socials-link{
  margin:0 auto;
  width:85%;
  text-align:center ;
}
.fa-facebook{
  color:#3B5998;
  padding:50px;
}
.fa-twitter{
  color:#00aced;
  padding:50px;
}

.fa-github{
  color:#ffffff;
  padding:50px;
}
.fa-spotify{
  color: #1ed760;
  padding:50px;
}
.fa-instagram{
  /*color:#7232bd;*/
  background: -webkit-gradient(linear, left top, left bottom, from(#7232bd), to(#ffdc7d));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
  padding:50px;
}
.footer{
  text-align:center;
}