    <div class="image-carousel">
        <div><img src="googlecv/crangrad.jpg" alt="satyam graduating cranfield"></div>
        <div><img src="googlecv/satyfooty.JPG" alt="satyam winning football"></div>
        <div><img src="googlecv/greece17.jpeg" alt="satyam in greece"></div>
        <div><img src="googlecv/uganda18.jpg" alt="satyam in some colourful african dashikis"></div>
        <div><img src="googlecv/saty.jpg" alt="satyam at the beach"></div>
        <div><img src="googlecv/satylion.jpg" alt="satyam with his pet lions"></div>
        <div><img src="googlecv/treehugger.jpg" alt="satyam climbing a tree"></div>
        <div><img src="googlecv/arsenal.jpg" alt="satyam at the home of football"></div>
    </div>
