
* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

a,
a:visited {
  color: inherit;
  text-decoration-line: none;
  font-family: 'Fauna One', serif;
  padding: 6px;
}

body {
  margin: 0;
  font-family: 'Encode Sans', sans-serif;
  display: grid;
  grid-template-areas: "me";
  grid-template-columns: 1fr;
}

nav {
  background-color: #06aed5;
  height: 100vh;
  margin-right: 1%;
  font-size: 10px;
  grid-area: me;
  position: relative;
}

nav ul {
  display: flex;
}

nav li {
  flex-grow: 1;
  text-align: center;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
}

main {
  display: display;
  background-color: rgb(225, 225, 225, 0.95);
  grid-area: content;
  position: absolute;
  width: 100%;
}

#closebutton {
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
}

h1 {
  font-family: 'Fauna One', serif;
  text-align: center;
  font-size: 35px;
  padding: 0;
  margin: 0;
  border-bottom: 2px dotted grey;
  margin-top: 50px;
}

h2 {
  text-align: center;
  font-family: 'Fauna One', serif;
  font-size: 20px;
  color: black;
  margin: 0;
}

header h3 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 50px;
  font-family: 'Fauna One', serif;
  font-size: 15px;
}

.fa-heart {
  color: #d91a1a;
}

.info {
  font-size: 30px;
  margin-bottom: 3px;
  color: black;
  width: 60%;
}

a:hover {
  border-radius: 5px;
}

.info li {
  margin: 20px 0;
  font-family: 'Fauna One', serif;
  font-size: 18px;
}

.info i {
  font-size: 28px;
  width: 50px;
  text-align: center;
}

.hobbies li {
  padding: 5px;
}

.career {
  color: red;
}

footer {
  font-size: small;
  text-align: center;
  font-family: 'Fauna One', serif;
}

.copyright {
  height: 2px;
}

.skills-panel h2 {
  text-transform: uppercase;
  margin-top: 5px;
  font-family: 'Fauna One', serif;
  font-size: 20px;
}

.skills-panel ul {
  padding: 0;
}

.skills-panel li {
  border-color: black;
  border-width: 2px;
  border-bottom-style: dotted;
  padding: 5px;
  font-family: 'Fauna One', serif;
}

.skills-panel {
  color: black;
  font-size: 20px;
}

.skills-panel li:first-child {
  border-top-style: dotted;
}

.me {
  font-family: 'Fauna One', serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.need {
  font-size: 15px;
}

.life-icons {
  font-size: 50px;
  text-align: center;
  color: #e34543;
}

.career {
  color: red;
}

.copyright {
  height: 2px;
}

.skills-panel h2 {
  text-transform: uppercase;
  margin-top: 5px;
  font-family: 'Fauna One', serif;
}

.skills-panel ul {
  padding: 0;
}

.skills-panel li {
  border-color: black;
  border-width: 2px;
  border-bottom-style: dotted;
  padding: 5px;
  font-family: 'Fauna One', serif;
  font-size: 18px;
}

.skills-panel .score {
  color: #ff7614;
  display: flex;
  float: right;
}

.skills-panel {
  color: black;
  font-size: 20px;
}

.skills-panel li:first-child {
  border-top-style: dotted;
}

nav ul {
  position: absolute;
  top: 0;
}

#gee {
  display: block;
  margin: 0 auto;
}

.rollover {
  height: 50px;
  width: 100%;

  /* Reposition the div relative to Gee */
  position: absolute;

  /* formatting */
  color: white;
  font-size: large;

  /* Center the text in the div */
  display: flex;
  align-items: center;
  justify-content: center;
}

.rollover:hover {
  cursor: pointer;

  /* Darken the div background */
  background-color: rgba(0, 0, 0, 0.2);

  /* Show the brain on hover as a background image */

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.rollover > * {
  /* By default, set all children of brain to invisible */
  display: none;
}

.rollover:hover > * {
  /* On hover, set all content of brain to visible */
  display: inline-block;
}

#brain {
  top: 60px;
}

#brain:hover {
  background-image: url('brain.png');
}

#lips {
  top: 160px;
}

#lips:hover {
  background-image: url('lips.png');
  position: fixed;
  position: absolute;
}

#heart {
  top: 270px;
}

#heart:hover {
  background-image: url('heart.png');
  position: fixed;
  position: absolute;
}

#phone {
  top: 400px;
}

#phone:hover {
  position: fixed;
  position: absolute;
}

.chart {
  display: block;
  float: right;
  margin: 0;
}

#doing {
  font-size: 18px;
}

section {
  padding: 20px;
  display: none;
}

.active {
  font-weight: 800;
}

@media only screen and (min-width: 500px) {
  main {
    display: block;
    position: relative;
    background-color: white;
  }

  #closebutton {
    display: none;
  }

  body {
    grid-template-areas: "me content";
    grid-template-columns: 1fr 2fr;
  }
}

#contact {
  display: block;
}
