body {
  background-image: url('costa-playa.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-style: italic;
  font-family: 'Days One';
  padding-bottom: 0;
  margin: 0;
  display: flex;
  flex: 1;
  display: block;
}

h1 {
  color: rgb(28, 30, 83);
  font-size: 2.5em;
  border: #3498db solid;
  margin-right: 5em;
  margin-left: 5em;
}

.hello {
  padding-bottom: 1.5em;
  padding-top: 5.1em;
  justify-content: center;
}

button {
  background-color: rgb(39, 121, 202, 0.6);
  font-size: 2.5em;
  font-family: 'Days One';
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: rgb(161, 203, 252);
  text-align: center;
}

img {
  opacity: 0.5;
}

/* Image size on mobile */
@media only screen and (min-width: 1px) and (max-width: 650px) {
  .hello {
    width: 250px;
    height: 240px;
  }

  h1 {
    margin: 0;
  }
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
  display: none;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

#myloader {
  display: none;
  text-align: center;
}
