body {
  background-image: url('costa-playa.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-style: italic;
  font-family: 'Days One';
}

form {
  padding-top: 13em;
  text-align: center;
}

input {
  background-color: rgb(39, 121, 202, 0.6);
  font-size: 2.5em;
  font-family: 'Days One';
}

h1 {
  font-size: 2.5em;
}
