body {
  margin: 0;
  font-size: 0.8em;
  font-style: normal;
  font-family: 'Days One';
  background-image: url('https://windsim.com/images/sky/sky_107.bmp');
  background-size: cover;
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  flex-basis: 1%;
}

a {
  text-decoration: none;
}

/* Added srolling welcome page with bouncing arrow, flex included */

.bonjour {
  min-height: 100vh;
  background-color: lightgrey;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('kassnow.jpg');
}

.emmanuel {
  font-size: 30px;
  color: white;
  background-color: none;
  position: absolute;
  top: 70%;
  text-align: center;
  left: 0;
  width: 100%;
}

#scrolling {
  color: lightgrey;
  margin: 0;
  height: 500vh;
  position: absolute;
  top: 0%;
}

.happyname {
  font-size: 2.8em;
  font-family: 'Days One';
  margin-left: 3em;
}

.arrow a {
  color: white;
  text-decoration: none;
  margin: 0;
  font-size: 2em;
}

.arrow {
  text-align: center;
  margin: 18%;
  margin-left: 0;
  margin-right: 17%;
  justify-content: center;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.bonjour .scrolling .emmanuel {
  display: flex;
  flex: 1;
  flex-shrink: 0.001px;
  flex-basis: 0.5px;
}

/* Main title font style */

.heading {
  font-size: 50px;
}


/* Sticky navbar with hover */
nav ul {
  list-style-type: none;
  padding: 0;
  background-color: lightslategray;
  border-style: solid;
}

nav li {
  display: inline-block;
  border-right: 1px solid black;
}

nav li:last-child {
  border-right: none;
}

nav li a {
  display: block;
  color: darkblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to light blue on hover */
nav li a:hover {
  background-color: lightblue;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* Margin for main body */
main {
  margin-left: 0.5em;
}

/* First and second titles position and color */

h1 {
  text-align: center;
}

h2 {
  color: darkblue;
  text-align: center;
}

/* Photo modification */
.myphoto {
  float: right;
  border: solid #00008b;
  border-width: 5px;
  margin-right: 7em;
  margin-top: 7em;
}

.border {
  border-color: darkblue;
  border-style: solid;
}

/* Contact info with font awesome and opacity box */
.myinfo {
  margin-right: 13em;
  margin-left: 15em;
  background-color: #add8e6;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=40);
  padding-right: 1px;
  font-size: 26px;
}

.myinfo li {
  margin-left: 1px;
  font-weight: bold;
  color: #000;
}

/* Social link */
.social {
  margin-left: 40em;
  padding-right: 1em;
  border: 0;
  display: inline;
}

/* Add stars color and column to the right and space between skills and font awesome */
.checked {
  color: darkblue;
}

#skillkas {
  display: flex;
  list-style: none;
}

#skillkas .title {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

#skillkas > div {
  flex: 1;
}

ul {
  list-style-type: none;
  padding: 0;
}

#skillkas li i {
  margin-right: 10px;
}

.myinfo li i {
  margin-right: 10px;
}

/* Contact me via text box and email */

#form {
  margin-bottom: 3em;
  text-align: center;
  margin-top: 2em;
}

input {
  display: block;
  background-color: lightgrey;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#name #firstname #email {
  width: 17em;
  margin: 0;
}

textarea {
  height: 10em;
  width: 25em;
  margin-left: 0;
  padding: 0;
  background-color: lightgrey;
  vertical-align: text-top;
  display: flex;
  flex: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.envoyer {
  margin-top: 4px;
  background-color: lightblue;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Copyright font */
.copyright {
  font-size: 0.8em;
  font-style: oblique;
}
