.buttons {
  background-color: red;
  color: white;
  border: 0px;
  margin: 0px 0px 0px 0px;
  height: 30px;
  width: 25%;
  float: left;
}

.buttons.sticky{
  position: sticky;
  top: 0;
}
.buttons:hover {
  background-color: white;
  color: red;
  border: 1px red solid;
}

.buttons:active {
  background-color: rgb(247, 242, 242);
}

#container {
  padding: 0px 0px 30px 0px;

}