nav {
  position: sticky;
  top: 0;
}

nav * {
  box-sizing: border-box;
}

Nav ul {
  padding: 0px;
  margin: 0px;
}

nav ul li {
  background-color: rgb(2,110,131);
  color: white;
  border: 0px;
  margin: auto;
  padding: 0px;
  height: 40px;
  width: 25%;
  float: left; 
  text-align: center;
  display: flex;
  justify-content: center;
}

nav ul a {
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

nav ul li:hover {
  background-color: white;
  color: rgb(2,110,131);
  cursor: pointer;
}

nav ul li:active {
  background-color: rgb(247, 242, 242);
}

#container {
  padding: 0px 0px 40px 0px;
}