body {
  font-family: 'Raleway', sans-serif;
  text-align: justify;
  background-color: white;
  margin: 30px 30px 30px 30px;
  background-image: url(https://bit.ly/2RhRnjw);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

header, footer, h1, h2, h3 {
  text-align: center;
  font-family: 'raleway';
}

ul {
  list-style-type: none;
  padding: 1.5%;
}

.a {
  text-align: center;
  font-size: 18px;
}

span p{
  font-size: 50px;
  text-align: center;
}

/* .fa{
  color:white;
  font-size:30px;
  text-align: center;
} */
.fa-linkedin{
  color: rgb(2,116,179);
}
.fa-at{
  font-weight: bold;
  color: white;
}
.fa-twitter{
  color: rgb(0,172,237);
}
#experience, #about{
  padding-top: 40px;
}