body {
  font-family: 'Raleway', sans-serif;
  text-align: justify;
  background-color:white;
  margin: 30px 30px 30px 30px;
  background-image: url(https://images.unsplash.com/photo-1442029739115-ce733f0de45e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ba7b8abddb2628e289f93745b785d616&auto=format&fit=crop&w=1344&q=80);
  background-size:cover;
  color: white;
}

header {
  text-align: center;
  font-family: 'raleway';
}
footer, h2, h4{
  text-align: center;
}