
    * {
        box-sizing: border-box;
    }

    a, a:visited{
        color:inherit;
        text-decoration-line: none;
    }

    body {
        margin: 0;
        font-family: 'Encode Sans', sans-serif;
    }
    body>*{
        float:left;
        
    }
    nav {
        background-color:lightgrey;
        width:34%;
        height: 100vh;
        margin-right: 1%;  
        display: none;     
    }
    main {
        width:65%;
        height:100vh;
        background-color:white;
    }
     h1{
        font-family: 'Fauna One', serif;
        text-align: center;
        font-size: 35px;
        padding: 0;
        margin:0;
        border-bottom: 2px dotted grey;
        margin-top: 50px;
        
     } 
     header {
        margin-top:50px;
    }
    header h2{
         text-align: center;
         font-family: 'Fauna One', serif;
         font-size: 20px;
         color: #d91a1a;
         margin:0;
     }
    header h3{
         text-align: center;
         margin-top: 5px;
         margin-bottom: 50px;
         font-family: 'Fauna One', serif;
         font-size: 15px;
     }
     .fa-heart{
         color: #d91a1a;
     }
     ul{
        list-style-type: none;
        margin:0 auto;

     }
        
    .info{
        font-size: 20px;
        margin-bottom: 3px;
        color: black;
        width:60%; 
    }
    a:hover{
        background-color: darkgrey;
        border-radius: 5px;
        padding: 6px;

    }

    .info li {
        margin: 20px 0;
        font-family: 'Fauna One', serif;
        font-size: 18px;
    }

    .info i {
        font-size:28px;
        width: 50px;
        text-align: center;
        
    }
    .career{
       color: red;
    }
    footer{
        font-size: small;
        text-align: center;
    }

    .copyright{
        height:2px;
    }


    .skills-panel h2{
        text-transform: uppercase;
        margin-top: 5px;
    }
    .skills-panel ul{
        padding: 0;
    }

    .skills-panel li{
        border-color: black;
        border-width: 2px;
        border-bottom-style: dotted;
        padding: 5px;
        
    }

    .skills-panel .score{
        display: inline;
        float: right;
    }
    .skills-panel{
        color: rgb(114, 105, 101);
    }
    .skills-panel li:first-child{
        border-top-style: dotted;
    }

    .skills-panel .score div{
        height: 1em;
        width: 1em;
        background-color: transparent;
        display: inline-block;
        border-radius: 50%;
        border: 1px solid black;
    }
    .skills-panel .score .solid{
        background-color: black;

    }

        
    
    
    
    
    
