
    * {
        box-sizing: border-box;
    }
    body {
        margin: 0;
        font-family: 'Encode Sans', sans-serif;
    }
    body>*{
        float:left;
    }
    nav {
        background-color:red;
        width:50%;
    }
    main {
        width:50%;
    }
    h1{
        font-family: 'Lobster' , cursive;
        text-align: center;
        font-size: 50px;
        margin: 10px;
     } 
     h2{
         text-align: center;
         font-family: 'Lobster' , cursive;
         font-size: 30px;
         margin:10px;
     }
        
    .info{
        text-align: center;
        font-size: 20px;
        margin: 2px;
        color: black;
    }
    .info .text {

    }

    .info i {
        font-size:70px;
    }

    a:link{
        color:black;
        text-decoration-line: none;
    }

    .fa-map-marker-altt{
        color:

    }

    

    
    
    
