
    * {
        box-sizing: border-box;
    }

    a, a:visited{
        color:inherit;
        text-decoration-line: none;
    }

    body {
        margin: 0;
        font-family: 'Encode Sans', sans-serif;
    }
    body>*{
        float:left;
        
    }
    nav {
        background-color:lightgrey;
        width:35%;
        height: 100%;
    }
    main {
        width:65%;
        height:100vh;
    }
    h1{
        font-family: 'Lobster' , cursive;
        text-align: center;
        font-size: 50px;
        padding: 0;
        margin:0;
        
     } 
     h2{
         text-align: center;
         font-family: 'Lobster' , cursive;
         font-size: 30px;
         color: #d91a1a;
         margin:0;
     }
     ul{
        list-style-type: none;
        margin:0 auto;

     }

     header {
         margin-top:100px;
     }
        
    .info{
        font-size: 20px;
        margin-bottom: 3px;
        color: black;
        width:60%;
    }

    .info li {
        margin: 20px 0;
    }

    .info i {
        font-size:40px;
        width: 50px;
        text-align:center;
    }

  

    footer{
        font-size: small;
        text-align: center;
    }

    .copyright{
        height:2px
    }
    
    
    
    
