* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-image: url('bg-blur.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.content {
  margin: 0 auto;
  max-width: auto;
  background: rgb(157, 224, 180);
}

#dots {
  background-image: url('white-polka-done.png');
  width: 95%;
  margin: 0 auto;
}

main {
  background-color: rgb(228, 228, 200);
  width: 95%;
  border-radius: 20px;
  color: rgb(212, 0, 0);
  margin: 0 auto;
}

header {
  height: 150px;
  position: relative;
}

#diamond {
  background-image: url('diamond.png');
  background-size: 100% 100%;
  width: 90%;
  height: 250px;
  position: absolute;
  bottom: -125px;
  left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sub {
  font-family: 'Montserrat';
  font-size: 1.5em;
}

.lobster {
  font-family: 'lobster';
  color: white;
  font-size: 60px;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}

.box {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
}

ul {
  list-style-type: none;
  font-family: 'Montserrat';
  font-weight: bold;
  padding: 0;
}

li {
  margin-top: 25px;
}

.title {
  font-family: 'Lobster';
  color: black;
  font-size: 2em;
  display: flex;
  flex-direction: row;
}

.elipse {
  flex-grow: 1;
  padding: 0 0 10px 10px;
}

.elipse span {
  border-bottom: 5px dotted black;
  display: inline-block;
  width: 100%;
}

li > div {
  display: inline;
}

/* .right {
  display: inline;
  float: right;
} */

li > img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

button {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.fas.fa-star {
  font-size: 1.5em;
}

/* li > span {
  text-align: center;
} */

/* li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;
} */

/* .description {
  flex: 1;
  padding-left: 20px;
  padding-top: 20px;
} */

.craig-demo {
  display: block;
}

.craig-demo img {
  height: 70px;
  width: auto;
  float: left;
  margin-right: 10px;
}

.craig-demo h3,
.craig-demo h4,
.craig-demo div {
  font-size: 0.9em;
  text-align: right;
  margin: 0;
}

.craig-demo h4 {
  font-size: 0.7em;
  margin-top: 5px;
  color: #444;
}

.craig-demo p {
  font-size: 0.7em;
  margin: 8px;
  text-align: justify;
  position: relative;
}

.craig-demo a {
  text-align: right;
  margin-top: 15px;
  display: block;
}

@media only screen and (min-width: 450px) {
  #diamond {
    width: 70%;
    left: 15%;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
  }

  .content {
    margin: 0 auto;
    width: 100%;
    background: rgb(157, 224, 180);
    max-width: 1000px;
  }

  #diamond {
    background-image: url('diamond.png');
    background-size: 100% 100%;
    width: 90%;
    height: 250px;
    position: absolute;
    bottom: -125px;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lobster {
    font-family: 'lobster';
    color: white;
    font-size: 90px;
  }

  ul {
    list-style-type: none;
    font-family: 'Montserrat';
    font-size: 1.25em;
    padding: 0;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
  }

  .box {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .title {
    font-family: 'Lobster';
    color: black;
    font-size: 3em;
    display: flex;
    flex-direction: row;
  }

  li > img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }

  /* .media-box {
    min-width: 0;
    margin: -10px;
    margin: 0 50px;
  }

  img {
    width: 650px;
    max-width: 100%;
    max-height: 450px;
    margin-top: 15px;
  } */
}

@media only screen and (min-width: 750px) {
  #diamond {
    width: 70%;
    left: 15%;
  }

  .content {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    background: rgb(157, 224, 180);
  }

  #diamond {
    background-image: url('diamond.png');
    background-size: 100% 100%;
    width: 90%;
    height: 250px;
    position: absolute;
    bottom: -125px;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lobster {
    font-size: 120px;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
  }

  .box {
    width: 45%;
  }

  /* .media-box {
    min-width: 0;
    margin: 0;
  }

  img {
    width: 450px;
    max-width: 100%;
    max-height: 450px;
  } */

  .title {
    font-size: 3em;
  }

  li > img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }

  ul {
    list-style-type: none;
    font-family: 'Montserrat';
    font-size: 1.25em;
    padding: 0;
  }
}
