body {
    background-color: rgb(157, 224, 180);
    max-width: 650px;
    margin: 0 auto;
}

#dots {
    background-image: url('polka-dots.png');
}

main{
    background-color: rgb(228, 228, 200);
    width: 100%;
    height:100vh;
    border-radius: 20px;
}

header {
    height:250px;
    position:relative;
}


#diamond {
    background-image: url('diamond.png');
    background-size: 100% 100%;
    width:90%;
    height: 250px;
    position: absolute;
    bottom: -125px;
    left:5%;
    display:flex;
    align-items:center;
    justify-content:center;
}


@media only screen and (min-width:650px){
    #diamond {
        width:70%;
        left:15%;
    } 
}

.lobster {
    font-family: 'lobster';
    color: white;
    font-size: 400%;
}