#qual-box {
  box-sizing: border-box;
  width: 50%;
  height: 50%;
  float: right;
}

#ed-box {
  box-sizing: border-box;
  width: 50%;
  height: 50%;
  float: right;
}

#pro-box {
  box-sizing: border-box;
  width: 50%;
  height: 50%;
  float: left;
}

#aw-box {
  box-sizing: border-box;
  width: 50%;
  height: 50%;
  float: left;
}

.ref {
  display: grid;
  grid-template-areas: "ref-1 ref-2";
  grid-column: 25%;
  column-gap: 12.5%;
}

div iframe {
  position: relative;
  left: 20%;
}
