nav {
  position: sticky;
  top: 0;
}

nav * {
  box-sizing: border-box;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  background-color: rgba(2, 110, 131, 0.7);
  color: white;
  border: 0;
  margin: auto;
  padding: 0;
  height: 40px;
  width: 20%;
  float: left;
  text-align: center;
  display: flex;
  justify-content: center;
}

nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(2, 110, 131);
  cursor: pointer;
}

nav ul li:active {
  background-color: rgba(247, 242, 242, 0.7);
}

nav ul a {
  padding: 10px;
  text-decoration: none;
  color: inherit;
}
