html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  text-align: justify;
  background-color: white;
  margin: 30px 30px 30px 30px;
  background-image: url(../luke/pictures/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

nav {
  z-index: 2;
}

header,
footer,
h1,
h2,
h3 {
  text-align: center;
  font-family: 'raleway';
}

ul {
  list-style-type: none;
  padding: 1.5%;
}

span p {
  font-size: 50px;
  text-align: center;
}

img {
  float: left;
  width: 100px;
}

/* span img {
  border: 1px white solid;
  position: relative;
  bottom: 25px;
} */

li {
  padding-bottom: 10px;
}

div iframe {
  position: relative;
  left: 37.5%;
}

div ul li {
  border-bottom: white solid 1px;
  margin-top: 5px;
}

.aca {
  height: auto;
  box-sizing: border-box;
}

.aca li {
  border: none;
}

.a {
  text-align: center;
  font-size: 18px;
}

.fa-at {
  font-weight: bold;
  color: rgb(70, 176, 254);
}

.fa-linkedin {
  color: rgb(2, 116, 179);
}

.fa-github {
  color: white;
}

.fa-twitter {
  color: rgb(0, 172, 237);
}

.fa-folder,
.fa-folder-o {
  display: inline-flex;
  justify-content: flex-end;
  margin-top: 2px;
}

.cv {
  color: white;
  text-decoration: none;
}

.timeline {
  display: grid;
  grid-template-areas: "one two thr for fiv";
  grid-auto-columns: auto;
  width: 100%;
  padding: 50px 0 0 50px;
}

.timeline div {
  min-width: 120px;
}

#timeline-img1,
#timeline-img4 {
  position: relative;
  bottom: 20px;
  right: 55px;
  border-radius: 15%;
}

#timeline-img2 {
  position: relative;
  bottom: 40px;
  right: 55px;
  border-radius: 15%;
}

#timeline-img3 {
  position: relative;
  bottom: 40px;
  right: 35px;
  border-radius: 15%;
}

.timeline span div {
  position: absolute;
  border: 1px black solid;
  background-color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: relative;
  top: -12.5px;
  left: 2%;
  z-index: -1;
}

.timeline p {
  position: relative;
  bottom: 30px;
  right: 50px;
}

.circle-one,
.circle-two,
.circle-thr {
  border-bottom: 1px white solid;
  width: 100%;
  position: relative;
  left: 27.5px;
  z-index: -1;
}

.ref {
  display: grid;
  grid-template-areas: "ref-1 ref-2";
  grid-column: 25%;
  column-gap: 12.5%;
}

.ref-1,
.ref-2 {
  text-align: center;
}

.ref-1 li,
.ref-2 li,
.aca-con-1 li,
.aca-con-2 li {
  border: none;
}

.map {
  overflow: hidden;
  padding-top: 35%;
  margin: 0 auto;
  position: relative;
}

.map iframe {
  border: 0;
  height: 500px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#experience,
#about,
#aca,
#work,
#ref,
#con {
  padding-top: 40px;
}

.aca-con-1 {
  display: grid;
  grid-template-areas: "qual-box ed-box";
  grid-template-columns: 50% 50%;
}

.aca-con-2 {
  display: grid;
  grid-template-areas: "aw-box pro-box";
  grid-template-columns: 50% 50%;
}

#qual-box {
  box-sizing: border-box;
  grid-area: qual-box;
}

#qual-box p {
  font-size: 16px;
  text-align: left;
}

#qual-box li {
  float: left;
  padding-left: 10%;
}

#ed-box {
  box-sizing: border-box;
  grid-area: ed-box;
}

#aw-box {
  box-sizing: border-box;
  grid-area: aw-box;
}

#pro-box {
  box-sizing: border-box;
  grid-area: pro-box;
}

#pro-box li {
  border-bottom: 1px white solid;
  height: auto;
}

#pro-box li div {
  float: right;
  padding-right: 50%;
}

#word-cloud {
  position: relative;
  width: 200px;
}

.cloud {
  height: auto;
  padding-bottom: 150px;
}

.modal-ibm {
  display: none;
  position: fixed;
  left: 20%;
  right: 20%;
  top: 20%;
  bottom:40%;
  background-color: blue;
  padding: 20px;
  border-radius: 20%;
  border: 1px grey solid;
}
