html {
  scroll-behavior: smooth;
}

header,
h1,
h2,
h3 {
  text-align: center;
  font-family: 'raleway';
}

footer {
  text-align: center;
  font-family: 'Raleway';
  padding-top: 15px;
}

body {
  font-family: 'Raleway', sans-serif;
  text-align: justify;
  background-color: white;
  margin: 30px 30px 30px 30px;
  background-image: url(../luke/pictures/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

section {
  border-bottom: 1px white solid;
}

p img {
  width: 1000px;
}

ul {
  list-style-type: none;
  padding: 1.5%;
}

span p {
  font-size: 50px;
  text-align: center;
}

li {
  padding-bottom: 10px;
}

div iframe {
  position: relative;
  left: 37.5%;
}

.fa-at {
  font-weight: bold;
  color: rgb(70, 176, 254);
}

.fa-linkedin {
  color: rgb(2, 116, 179);
}

.fa-github {
  color: white;
}

.fa-twitter {
  color: rgb(0, 172, 237);
}

.fa-folder,
.fa-folder-o {
  display: inline-flex;
  justify-content: flex-end;
  margin-top: 2px;
}

.cv {
  color: white;
  text-decoration: none;
}

.ref {
  display: grid;
  grid-template-areas: "ref-1 ref-2";
  grid-column: 25%;
  column-gap: 12.5%;
}

.ref-1,
.ref-2 {
  text-align: center;
}

.ref-1 li,
.ref-2 li {
  border: none;
}

.map {
  overflow: hidden;
  padding-top: 35%;
  margin: 0 auto;
  position: relative;
}

.map iframe {
  border: 0;
  height: 500px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.border {
  border-bottom: 3px white solid;
}

.timeline {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  bottom: 100px;
}

.img {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 15%;
}

.timeline-img3 {
  border: 2px lightgrey solid;
}

#experience,
#about,
#aca,
#work,
#ref,
#con {
  padding-top: 40px;
}

#about p {
  height: 100%;
}

.aca-con {
  display: grid;
  grid-template-areas: "edu qual" "pro per";
  grid-template-columns: 50% 50%;
}

.edu {
  grid-area: edu;
  display: flex;
  flex-wrap: wrap;
}

.qual {
  grid-area: qual;
}

.pro {
  grid-area: pro;
}

.pro-con {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.edu ul {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pro-img {
  height: 25%;
  width: 25%;
}

.per-img {
  width: 25%;
  height: auto;
}

.school-img {
  height: 25%;
  width: auto;
  max-width: 100%;
}

.per {
  grid-area: per;
}

#text-con {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
}
