@media only screen and (max-width: 570px) {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    background-color: white;
    margin: 30px 30px 30px 30px;
    background-image: url(https://bit.ly/2RhRnjw);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
  }

  header,
  footer,
  h1,
  h2,
  h3 {
    text-align: center;
    font-family: 'raleway';
  }

  ul {
    list-style-type: none;
    padding: 1.5%;
  }

  span p {
    font-size: 50px;
    text-align: center;
  }

  img {
    width: 70px;
  }

  li {
    padding-bottom: 10px;
  }

  div ul li {
    border-bottom: white solid 1px;
    margin-top: 5px;
  }

  .aca {
    height: auto;
    box-sizing: border-box;
  }

  .aca li {
    border: none;
  }

  .a {
    text-align: center;
    font-size: 18px;
  }

  .fa-at {
    font-weight: bold;
    color: rgb(70, 176, 254);
  }

  .fa-linkedin {
    color: rgb(2, 116, 179);
  }

  .fa-github {
    color: white;
  }

  .fa-twitter {
    color: rgb(0, 172, 237);
  }

  .fa-folder,
  .fa-folder-o {
    display: inline-flex;
    justify-content: flex-end;
    margin-top: 2px;
  }

  .cv {
    color: white;
    text-decoration: none;
  }

  .timeline {
    display: grid;
    grid-template-areas: "one two thr for fiv";
    grid-auto-columns: auto;
    width: 100%;
  }

  .timeline span div {
    position: absolute;
    border: 1px black solid;
    background-color: white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: relative;
    top: -12.5px;
    z-index: -1;
  }

  .circleOne,
  .circleTwo,
  .circleThr,
  .circleFor {
    border-bottom: 1px white solid;
    width: 100%;
    position: relative;
    left: 27.5px;
    z-index: -1;
  }

  .ref {
    display: grid;
    grid-template-areas: "ref-1 ref-2";
    grid-column: 25%;
    column-gap: 12.5%;
  }

  .ref-1,
  .ref-2 {
    text-align: center;
  }

  .ref-1 li,
  .ref-2 li,
  .aca-con-1 li,
  .aca-con-2 li {
    border: none;
  }

  .map {
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }

  .map iframe {
    border: 0;
    height: 250px;
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
  }

  #experience,
  #about,
  #aca,
  #work,
  #ref,
  #con {
    padding-top: 80px;
  }

  .aca-con-1 {
    display: grid;
    grid-template-areas: "qual-box ed-box";
    grid-template-columns: 50% 50%;
  }

  .aca-con-2 {
    display: grid;
    grid-template-areas: "aw-box pro-box";
    grid-template-columns: 50% 50%;
  }

  #qual-box {
    box-sizing: border-box;
    grid-area: qual-box;
  }

  #qual-box p {
    font-size: 16px;
    text-align: left;
  }

  #qual-box li {
    float: left;
    padding-left: 10%;
  }

  #ed-box {
    box-sizing: border-box;
    grid-area: ed-box;
  }

  #aw-box {
    box-sizing: border-box;
    grid-area: aw-box;
  }

  #pro-box {
    box-sizing: border-box;
    grid-area: pro-box;
  }

  #pro-box li {
    border-bottom: 1px white solid;
    height: auto;
  }

  #pro-box li div {
    float: right;
    text-align: right;
  }
}
