@media only screen and (max-width: 600px) {
  body {
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    margin: 30px 30px 30px 30px;
    background-image: url(https://bit.ly/2RhRnjw);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: lightblue;
  }

  header,
  footer,
  h1,
  h2,
  h3 {
    text-align: center;
    font-family: 'raleway';
  }

  ul {
    list-style-type: none;
    padding: 1.5%;
  }

  span p {
    font-size: 50px;
    text-align: center;
  }

  li {
    padding-bottom: 10px;
  }

  .a {
    text-align: center;
    font-size: 18px;
  }

  .fa-at {
    font-weight: bold;
    color: rgb(70, 176, 254);
  }

  .fa-linkedin {
    color: rgb(2, 116, 179);
  }

  .fa-github {
    color: white;
  }

  .fa-twitter {
    color: rgb(0, 172, 237);
  }

  .fa-map-marker {
    color: rgb(220, 77, 63);
  }

  #experience,
  #about,
  #aca,
  #work {
    padding-top: 40px;
  }

  div ul li {
    border-bottom: white solid 1px;
    margin-top: 5px;
  }

  .fa-folder,
  .fa-folder-o {
    display: inline-flex;
    justify-content: flex-end;
    margin-top: 2px;
  }

  .cv {
    color: white;
    text-decoration: none;
  }

  /* Buttons */
  nav {
    position: sticky;
    top: 0;
  }

  nav * {
    box-sizing: border-box;
  }
}
