body{
    font-size: 1em;
    font-style: normal;
    font-family: 'Lato', sans-serif;
    background-image:url('https://windsim.com/images/sky/sky_107.bmp');
    background-size:cover;
} 
nav ul{
    list-style-type: none;
    margin-left: 280px;
    padding: 0;
    background-color: lightslategray;
    overflow: hidden;
    width: 710px;
    border-style: solid;
}
nav li {
    display: block;
    display: inline;
    float: left;
}
nav li a {
    display: block;
    color:darkblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to light blue on hover */
nav li a:hover {
    background-color: lightblue;
}
nav .active {
    background-color: #4CAF50;
}
#kasface{
    padding-right: 8em;
    padding-top: 3em;
}
.social {
    margin-left: 2em;
    border:0;
    width: 3px;
}
h1 {
    text-align: center;
}
input {
    display: block;
    background-color: lightgrey;
}
.name {
    width: 17em;
    margin: 0;
}
textarea {
    height: 10em;
    width:25em;
    margin-left:0;
    padding: 0;
    background-color: lightgrey;
}
.envoyer{
    margin-top: 4px;
    background-color:lightblue;
}
.emailad{
    list-style-type: none;
    padding-top: 2em;
    padding-bottom: 0.5em;
    padding-left: 0;
    margin-left: 0;
}
.copyright{
    font-size: 0.8em;
    font-style: oblique;
}