h1{
  text-align:center;
}
.logo{
  height:130px;
}

body{
 background:#645754 url(footer_lodyas.png) top left repeat;
 font-family: 'Montserrat', sans-serif;
 color:white;
 
}
nav{
  position: sticky;
  top: 0;
}
nav ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  display:inline-block;
  
  
}

nav li {
  float:left;
  
}

nav li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}

.contact-icon{
  text-align: center;
}


.firstname{
  text-transform: capitalize;
}
textarea{
  width:500px;
  height:300px;
  padding:5px;
  margin-bottom:15px;
}
.socials i{
  font-size:100px;
  text-align:center;
  }
.socials-link{
  margin:0 auto;
  width:85%;
  text-align:center ;
}
.fa-facebook{
    color:#3B5998;
    padding:50px;
}
.fa-twitter{
  color:#00aced;
  padding:50px;
}

.fa-envelope{
    color:#ffffff;
    padding:50px;
}
.fa-spotify{
  color: #1ed760;
  padding:50px;
}
.fa-instagram{
  /*color:#7232bd;*/
  background: -webkit-gradient(linear, left top, left bottom, from(#7232bd), to(#4c5fd7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
  padding:50px;
}
.footer{
  text-align:center;
}