/* Font family and margin for the body */
* {
  font-family: 'Roboto', Sans-Serif;
}

body {
  margin: 0;
}

/* Title style */
h1 {
  text-align: center;
  font-size: 1.5em;
  background-color: #4285f4;
  padding-bottom: 1em;
  padding-top: 1em;
  margin: 0;
  color: white;
}

/* Text decoration, style and position for links */
a {
  text-decoration: none;
  font-family: 'Roboto', Sans-Serif !important;
  float: left;
}

/* Back button position and style */
.previous {
  color: white;
  font-size: 1.5em;
  padding-left: 0.6em;
}

/* Beginning section style and position */
.beginning {
  background-color: #4285f4;
  margin: 0;
  padding-left: 8em;
}

/* Start link position */
.start {
  float: right !important;
  margin-right: 8em;
}
