a{
    color: inherit;
}

ul{
    list-style: none;
}

li{
    padding: 2px;
}

.button{
    background-color: slateblue;
    color: #eaeaff;
    border: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 20px;
    padding: 7px 17px;
    margin: 10px;
    width: 205px;
}

h1{
    font-size: 72px;
}

h2{
    font-size: 36px;
}

.capital{
    text-transform: capitalize;
}

.fab{
    color: slateblue;
    font-size: 50px;
    margin: 0px 5px;
}

main>section{
    margin: 15px;
    }

article{
    display: inline;
}

.button:hover{
    opacity: 0.8;
    color: white;
    cursor: pointer;
}
