
main>section{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:20px;
}

.top-panel{
    background-color: rgb(9, 139, 133);
    border: none;
    color: white;
    text-align: center;
}

nav>a{
    background-color: rgb(9, 139, 133);
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    box-align: centre;
    border-radius: 5px;
    width:auto;
    box-sizing: border-box;
}
div>header{
    padding: 0.05em;
    font-size: 30px;
    margin:10px 10px 0 10px;
}
nav>a:hover {
    opacity: 0.6;
}
.heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.italic{
    font-style: italic;
}

p{
    font-style:normal;
    color:#525151
}
h3{
    font-size:1.1em;
    text-transform:capitalize;
}
h1{
    text-align:center;
}
body{
    background-color: beige;
    margin:0;
    background-size: cover;
} 
#contact-me ul{
    list-style-type: none;
    padding: 0;
    text-decoration: none;
}
#contact-me li{
    margin:20px;
    text-decoration: none;
}
#contact-me{
    text-decoration: none;
}
.contact-links:hover{
    opacity:0.5;
    cursor: pointer;
}
#work-experience{
    background-color: lightgray;
}


