#grid {
  display: grid;
  grid-template-areas: "t" "a" "b" "c" "d" "e" "f";
}

#grid .grid-cell {
  min-height: 15vh;
}

#grid #title {
  min-height: 10vh;
}

#title { grid-area: t; }
#about { grid-area: a; }
#skills { grid-area: b; }
#work { grid-area: c; }
#contact { grid-area: d; }
#hobbies { grid-area: e; }
#qualifications { grid-area: f; }

@media only screen and (min-width: 400px) {
  #grid {
    grid-template-areas:
      "t t t t t t"
      "a a a b b b"
      "c c c d d d"
      "e e e f f f";
  }

  #grid .grid-cell {
    min-height: 28vh;
    min-width: 30vw;
  }

  #grid #title {
    min-height: 16vh;
  }

  #grid.active-about {
    grid-template-areas:
      "t t t t t t"
      "a a a a b b"
      "c c c d d d"
      "e e e f f f";
  }

  #grid.active-skills {
    grid-template-areas:
      "t t t t t t"
      "a a b b b b"
      "c c c d d d"
      "e e e f f f";
  }

  #grid.active-work {
    grid-template-areas:
      "t t t t t t"
      "a a a b b b"
      "c c c c d d"
      "e e e f f f";
  }

  #grid.active-contact {
    grid-template-areas:
      "t t t t t t"
      "a a a b b b"
      "c c d d d d"
      "e e e f f f";
  }

  #grid.active-hobbies {
    grid-template-areas:
      "t t t t t t"
      "a a a b b b"
      "c c c d d d"
      "e e e e f f";
  }

  #grid.active-qualifications {
    grid-template-areas:
      "t t t t t t"
      "a a a b b b"
      "c c c d d d"
      "e e f f f f";
  }

  #grid.active-title {
    grid-template-areas:
      "t t t t t t"
      "a a a b b b"
      "c c c d d d"
      "e e e f f f";
  }
}

@media only screen and (min-width: 800px) {
  #grid {
    grid-template-areas:
      "t t t t t t t t t"
      "a a a b b b c c c"
      "d d d e e e f f f";
  }

  #grid .grid-cell {
    min-height: 40vh;
    min-width: 20vw;
  }

  #grid #title {
    min-height: 20vh;
  }

  #grid.active-about {
    grid-template-areas:
      "t t t t t t t t t"
      "a a a a a b b c c"
      "d d d e e e f f f";
  }

  #grid.active-skills {
    grid-template-areas:
      "t t t t t t t t t"
      "a a b b b b b c c"
      "d d d e e e f f f";
  }

  #grid.active-work {
    grid-template-areas:
      "t t t t t t t t t"
      "a a b b c c c c c"
      "d d d e e e f f f";
  }

  #grid.active-contact {
    grid-template-areas:
      "t t t t t t t t t"
      "a a a b b b c c c"
      "d d d d d e e f f";
  }

  #grid.active-hobbies {
    grid-template-areas:
      "t t t t t t t t t"
      "a a a b b b c c c"
      "d d e e e e e f f";
  }

  #grid.active-qualifications {
    grid-template-areas:
      "t t t t t t t t t"
      "a a a b b b c c c"
      "d d e e f f f f f";
  }

  #grid.active-title {
    grid-template-areas:
      "t t t t t t t t t"
      "a a a b b b c c c"
      "d d d e e e f f f";
  }
}
