.button,
header > a {
  background-color: #527952;
  color: #eaeaff;
  border: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 120px;
  border-radius: 15px;
  padding: 5px 15px;
  margin: 5px;
}

.button {
  font-size: 16px;
  cursor: pointer;
  width: 120px;
  border-radius: 15px;
  padding: 5px 15px;
  margin: 5px;
}

header > a {
  font-size: 36px;
  border-radius: 30px;
  padding: 10px 25px;
  margin: 10px 0;
  width: 90%;
}

#pitch {
  width: 470px;
  height: 450px;
  transform: scale(1);
  margin-top: 30px;
}

#pitch path {
  stroke: #527952;
  stroke-width: 1px;
}

#references {
  fill: #80f680;
}

#hobbies {
  fill: #80ed80;
}

#skills {
  fill: #80db80;
}

#experience {
  fill: #80e780;
}

#about {
  fill: #80d880;
}

#awards {
  fill: #80cf80;
}

#contact {
  fill: #80e180;
}

#home {
  fill: #80ff80;
}

#wicket {
  fill: #edc9c9;
}

.button:hover,
header > a:hover,
svg a:hover {
  opacity: 0.7;
  color: white;
  cursor: pointer;
}

.big {
  font-size: 22px;
}

.small {
  font-size: 14px;
}

svg text {
  fill: white;
}
