#skills-open {
  font-size: 16px;
}

#skills-open h2 {
  width: 300px;
  margin-bottom: 0.625em;
}

#skills-open ul {
  list-style: none;
  text-align: left;
  margin: 0 0.875em;
}

#skills-open li {
  width: 300px;
  font-weight: 600;
  padding-bottom: 0.875em;
}

#skills-open li > div {
  display: block;
  text-align: justify;
  font-size: 0.875em;
  font-weight: 100;
  padding: 0 0.625em;
  margin-top: 0.2em;
}

#skills-open .stars {
  float: right;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}

#skills-open {
  display: grid;
  grid-template-areas: "key" "tech" "other";
  grid-template-columns: 1fr;
  justify-items: center;
}

#skills-open h1 {
  grid-area: key;
}

#tech {
  grid-area: tech;
}

#other {
  grid-area: other;
}

@media only screen and (min-width: 1068px) {
  #skills-open {
    grid-template-areas: "key key" "tech other";
    grid-template-columns: 1fr 1fr;
  }
}
