:root {
  --color-dark: #466266;
  --color-med: #7bacb3;
  --color-lightest: white;
  --color-light: #9edde6;
  --color-darkest: black;
  --size-smallest: 1px;
  --size-small: 5px;
  --size-med: 10px;
  --size-large: 16px;
  --size-largest: 24px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  text-align: center;
}

body {
  background-image: url('bg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

ul {
  list-style: none;
}

nav {
  background-color: var(--color-lightest);
  opacity: 0.7;
}

nav > ul > li > ul {
  display: flex;
  flex-direction: column;
  flex: 1;
}

nav > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

nav > ul > li > ul > li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
}

nav a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a:hover {
  opacity: 0.5;
}

@media only screen and (min-width: 500px) {
  nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  nav > ul > li > ul {
    flex-direction: row;
  }
}

@media only screen and (min-width: 870px) {
  nav > ul > li {
    display: flex;
    flex: 1 1 auto;
  }

  nav > ul > li > ul {
    flex: 1 1 auto;
  }

  nav > ul > li > ul > li {
    flex: 1 1 auto;
  }
}

main {
  display: grid;
  grid-template-areas: "about skills work" "contact hobbies qualifications";
  grid-template-columns: 33fr 34fr 33fr;
  opacity: 0.9;
  color: var(--color-dark);
  min-height: 100vh;
}

#about-open {
  grid-area: about;
  background-color: var(--color-med);
  padding: var(--size-med);
  display: none;
}

#about {
  grid-area: about;
  background-color: var(--color-med);
  padding: var(--size-med);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#skills-open {
  grid-area: skills;
  background-color: var(--color-light);
  padding: var(--size-med);
  display: none;
}

#skills {
  grid-area: skills;
  background-color: var(--color-light);
  padding: var(--size-med);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#work-open {
  grid-area: work;
  background-color: var(--color-med);
  padding: var(--size-med);
  display: none;
}

#work {
  grid-area: work;
  background-color: var(--color-med);
  padding: var(--size-med);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#contact-open {
  grid-area: contact;
  background-color: var(--color-light);
  padding: var(--size-med);
  display: none;
}

#contact {
  grid-area: contact;
  background-color: var(--color-light);
  padding: var(--size-med);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#hobbies-open {
  grid-area: hobbies;
  background-color: var(--color-med);
  padding: var(--size-med);
  display: none;
}

#hobbies {
  grid-area: hobbies;
  background-color: var(--color-med);
  padding: var(--size-med);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#qualifications-open {
  grid-area: qualifications;
  background-color: var(--color-light);
  padding: var(--size-med);
  display: none;
}

#qualifications {
  grid-area: qualifications;
  background-color: var(--color-light);
  padding: var(--size-med);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
