#work-open {
  margin: 0;
  display: flex;
  color: #466266;
}

#work-open .timeline {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

#work-open .timeline > div {
  width: 50%;
  position: relative;
  padding: 1em;
}

#work-open .timeline > div:nth-child(even) {
  border-left: 0.125em #466266 solid;
}

#work-open .timeline > div:nth-child(odd) {
  border-right: 0.125em #466266 solid;
  text-align: right;
}

#work-open .timeline strong {
  font-weight: 600;
  display: block;
  margin-bottom: 0.3em;
}

#work-open ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#work-open li {
  padding: 0.15em;
}

#work-open .content {
  border-top: 0.125em solid #466266;
}

#work-open .timeline > div.content {
  padding-top: 0.25em;
}

#work-open .timeline > div.empty,
#work-open .timeline > div.emptytop {
  border-bottom: 0.125em solid #466266;
  display: flex;
  align-items: flex-end;
  font-weight: 600;
  padding-bottom: 0.4em;
}

#work-open .timeline > .content:nth-child(even)::before {
  content: " ";
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.25em solid #466266;
  background-color: #7bacb3;
  position: absolute;
  top: -0.875em;
  left: -0.875em;
}

#work-open .timeline > .empty:nth-child(even)::before,
#work-open .timeline > .emptylast::before {
  content: " ";
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.25em solid #466266;
  background-color: #7bacb3;
  position: absolute;
  top: -0.75em;
  left: -0.875em;
}
