body {
  font-family: 'Roboto', Sans-Serif;
  margin: 0;
  background-image: url('mapbackground.jpg');
  background-position: center;
  background-attachment: fixed;
}

#topsearchbar {
  background-color: #fff;
  display: flex;
  padding: 2% 4%;
  margin: 8px 4px;
  border-radius: 4px; /* display: inline-flex; */
}

#topsearchbar > div:nth-child(3) {
  margin-left: auto;
}

#searchinput {
  margin: 0% 5%;
}

#infopanel {
  padding: 1% 1%;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-areas:
    "name name"
    "rating ratingnumber"
    "gdev gdev"
    "avail from";
  grid-template-columns: 0.1fr 0.3fr;
}

.rating {
  color: rgb(231, 113, 27);
  grid-area: rating;
}

.text {
  color: rgb(145, 145, 145);
}

.color-text {
  color: rgb(60, 126, 64);
  grid-area: avail;
}

#name {
  grid-area: name;
}

#t1 {
  grid-area: ratingnumber;
}

#t2 {
  grid-area: gdev;
}

#t3 {
  grid-area: avail;
}

#t4 {
  grid-area: from;
}
