
body {
  font-family: 'Roboto', sans-serif;
  background-image: url('mapbackground.jpg');
  background-position: center;
  background-attachment: fixed;
}

#topsearchbar {
  background-color: #fff;
}
