body {
  font-family: 'Roboto', Sans-Serif;
  margin: 0;
  background-image: url('mapbackground.jpg');
  background-position: center;
  background-attachment: fixed;
}

#topsearchbar {
  background-color: #fff;
  display: flex;
  padding: 2% 4%;
  margin: 8px 4px;
  border-radius: 4px; /* display: inline-flex; */
}

#topsearchbar > div:nth-child(3) {
  margin-left: auto;
}

#searchinput {
  margin: 0% 5%;
}

#infopanel {
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: list-item;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.rating {
  color: rgb(231, 113, 27);
}

.text {
  color: rgb(145, 145, 145);
}

.color-text {
  color: rgb(60, 126, 64);
}
