body{
    background-color: #eaeaff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
}

.button{
    background-color: slateblue;
    color: #eaeaff;
    border: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 100px;
    border-radius: 15px;
    padding: 5px 15px;
    margin: 5px;
}

.button:hover {
    opacity: 0.8;
    color: white;
}

.wide{
    width: 100%;
}

#myname{
    background-color: darkslateblue; 
    font-size: 36px;
    border-radius: 30px;
    padding: 10px 25px;
    margin: 10px 0px;
    width: 90%;
}

/*#contact{
    border-radius: 0px;
    margin: 0px;
    width: 25%;
    height: 100px;
    font-size: 36px;
}

#aboutme{
    border-radius: 0px;
    margin: 0px;
    width: 25%;
    height: 100px;
    font-size: 36px
}

#skills{
    border-radius: 0px;
    margin: 0px;
    width: 25%;
    height: 100px;
    font-size: 36px;
}

#qualifications{
    border-radius: 0px;
    margin: 0px;
    width: 25%;
    height: 100px;
    font-size: 36px;
}


#hobbies{
    position: fixed;
    left: 220px;
    top: 170px;
}

#experience{
    position: fixed;
    left: 440px;
    top: 170px;
}

#references{
    position: fixed;
    left: 660px;
    top: 170px;
}

#home{
    position: fixed;
    left: 880px;
    top: 170px;
}*/