:root {
  --color-dark: #365256;
  --color-light: #9edde6;
}

#contact {
  text-align: center;
  font-size: 16px;
}

#contact section {
  margin: 1em;
}

#contact ul {
  list-style: none;
}

#contact li {
  padding: 0.125em;
}

#contact .enlarges:hover {
  font-size: 1.2em;
}

#contact a {
  color: inherit;
  font-size: 0.875em;
}

#contact address {
  font-style: unset;
}

#contact article {
  display: inline;
}

#contact .fab {
  font-size: 3.125em;
  margin: 0 0.1em;
}

#contact .fab:hover {
  font-size: 3.75em;
}

#contact .fa-linkedin {
  color: #0274b3;
}

#contact .fa-facebook-square {
  color: #4267b2;
}

#contact .fa-twitter-square {
  color: #28aae1;
}

#contact .fa-github-sqare {
  color: #24292e;
}

#contact .button {
  background-color: var(--color-dark);
  color: var(--color-light);
  border: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 20px;
  padding: 7px 17px;
  margin: 10px;
  width: 205px;
}

#contact .button:hover {
  opacity: 0.75;
  color: white;
  cursor: pointer;
}
