:root {
  --color-dark: #365256;
}

#work {
  margin: 0;
  display: flex;
  color: var(--color-dark);
}

#work .timeline {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
}

#work .timeline > div {
  width: 50%;
  position: relative;
  padding: 1em;
}

#work .timeline > div:nth-child(even) {
  border-left: 0.125em var(--color-dark) solid;
}

#work .timeline > div:nth-child(odd) {
  border-right: 0.125em var(--color-dark) solid;
  text-align: right;
}

#work .timeline > .emptytop {
  padding-top: 0.5em;
  margin-top: 0.6em;
}

#work .timeline > .emptytop,
#work .timeline > .empty {
  display: flex;
  align-items: flex-end;
  font-weight: 600;
  font-size: 1.142em;
  padding-bottom: 0.4em;
}

#work .timeline > .emptytop:nth-child(even),
#work .timeline > .empty {
  border-bottom: 0.125em solid var(--color-dark);
}

#work .timeline > .content {
  border-top: 0.125em solid var(--color-dark);
  padding-top: 0.25em;
}

#work .timeline > .contentlast {
  padding-bottom: 0.5em;
}

#work .timeline > .empty:nth-child(even)::before,
#work .timeline > .emptylast:nth-child(even)::before {
  content: " ";
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.25em solid var(--color-dark);
  background-color: #7bacb3;
  position: absolute;
  top: -0.75em;
  left: -0.875em;
}

#work .timeline > .content:nth-child(even)::before {
  content: " ";
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.25em solid var(--color-dark);
  background-color: #7bacb3;
  position: absolute;
  top: -0.875em;
  left: -0.875em;
}

#work ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#work li {
  padding: 0.15em;
}
