#qualifications-open {
  justify-items: center;
  font-size: 16px;
}

#qualifications-open > article {
  margin: 0.75em;
}

#qualifications-open .date {
  display: block;
  font-size: 0.7em;
  margin-bottom: 0.125em;
}

#qualifications-open li {
  max-width: 25em;
  font-size: 0.875em;
  text-align: left;
  margin: 0 auto;
}

#qualifications-open .options {
  display: inline;
  float: right;
  font-size: 0.75em;
}

#qualifications-open .grade {
  font-weight: 600;
  font-size: 1.33em;
}

#qualifications-open .just-grade {
  display: inline;
  float: right;
}
