#qualifications-open {
  justify-items: center;
}

#qualifications-open > article {
  margin: 12px;
}

#qualifications-open li {
  max-width: 22em;
  text-align: left;
  margin: 0 auto;
}

#qualifications-open .options {
  display: inline;
  float: right;
  font-size: 0.75em;
}

#qualifications-open .grade {
  font-weight: 600;
  font-size: 1.33em;
}

#qualifications-open .just-grade {
  display: inline;
  float: right;
}

#qualifications-open .date {
  display: block;
  font-size: 0.75em;
}
