body {
  background-color: rgb(82, 222, 219);
}

img.leftpara {
  padding: 0;
  width: 11.47em;
  height: 11.28em; 
  margin: 0 auto;
  margin-top: 9%;
  margin-bottom: 5%;
  float: center;

  }

main {
  padding: 0;
  text-align: center;
}

main div.rightpara {
  margin-top: 8%;
  padding: 1%;
  width: 70%;
  font-size: 250%;
  color: rgb(64, 62, 62);
  height: 60%;
  }

li.contactlabel {
  height: 50px;
}

.relocate {
  margin-top: 10px;
  font-size: 20px;
}

li.contactlabel {
  height: 170px;
  z-index: 1;
  position: relative;
}

main {
  display: grid;
  grid-gap: 40px;
  margin: 0;
  grid-template-areas: 
  "img"
  "links";
  grid-template-columns: 1fr;
}

img.leftpara { 
  grid-area: map;
}

div.rightpara {
  margin: 0 auto;
  grid-area: links;
  padding-top: 300px;

}

@media only screen and (min-width: 1014px) {
  li.contactlabel {
    height: 50px;
    z-index: 1;
    position: relative;
  }
  
  main {
    display: grid;
    grid-gap: 40px;
    margin: 0;
    grid-template-areas:
    "img links";
    grid-template-columns: 1fr 1fr;
  }
}
