body {
  background-color: pink;
}

div.left {
  grid-area: leftt;
}

div.mid {
  grid-area: mid;
}

div.right {
  grid-area: rightt;
}

main { 
  margin: 0;
  display: grid;
  grid-template-areas:
    "leftt"
    "mid"
    "rightt";
  grid-template-columns: 1fr;
  grid-gap: 40px;
  text-align: justify;
}


h2 {
  font-size: 30px;
  text-align: left;
}

main div.right div {
  margin: 0;
}

div ul.skillslist {
  list-style: none;
  padding: 0;
}

li div.score {
  float: right;
}

ul.icons {
  padding: 0;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  font-size: 20px;
}

li.icon {
  display: inline-block;
  margin: 5px;
}

li.icon span {
  font-size: 12.5px;
  display: block;
}

li.aboutmelabel,
li.aboutmelabel:hover {
  height: 170px;
  z-index: 4;
  top: 0px;
}

div.right {
  float: center;
  margin: 0 auto;
}

li.icon {
  font-size: 2.5em;
}

@media only screen and (min-width: 1014px) {
  li.aboutmelabel,
  li.aboutmelabel:hover {
    height: 50px;
  }

  main {
    margin: 0;
    display: grid;
    grid-template-areas: "leftt mid rightt";
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    text-align: justify;
  }
}
