body {
  background-color: lightgreen;
}

main div.leftpara {
  padding: 20px;
  display: inline-block;
  width: 31%;
  vertical-align: top;
  text-align: justify;
}

main div.leftpara ul {
  list-style-type: disc;
}

main div.rightpara {
  padding: 20px;
  display: inline-block;
  width: 60%;
  text-align: justify;
  border-left: 1px solid black;
}

li.worklabel {
  height: 50px;
}

div.leftpara li {
  list-style-type: none;
}

div.leftpara li.uni::before {
  content: "2018 - ";
}

div.leftpara li.college::before {
  content: "2014 - ";
}

div.leftpara li.school::before {
  content: "2012 - ";
}

div.leftpara span.system {
  font-weight: 1000;
}

li.uni,
li.college,
li.school {
  margin-bottom: 40px;
}

.leftpara ul {
  padding-left: 0;
}

.wrapper {
  display: grid;
  grid-row-gap: 0;
  grid-column-gap: 10px;
  font-family: 'Rock Salt', cursive;
  font-size: 0.7em;
  padding: 2px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.box {
  border: 2px solid white;
  margin: 5px;
  font-family: 'Crimson Text', serif;
  background-color: #d98880;
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.4), 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
}

div.year {
  grid-column: 21/29;
  margin: 0;
  padding: 0;
  height: 80px;
  border-right: 2px white solid;
  border-left: 2px white solid;
  background-color: #196f3d;
  color: white;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

div.aa {
  grid-row: 1/10;
  border-top: 2px white solid;
}

div.a {
  grid-row: 10/20;
}

div.b {
  grid-row: 20/30;
}

div.c {
  grid-row: 30/40;
}

div.d {
  grid-row: 40/50;
}

div.e {
  grid-row: 50/60;
}

div.f {
  grid-row: 60/70;
}

div.g {
  grid-row: 70/80;
}

div.h {
  grid-row: 80/90;
  border-bottom: 2px white solid;
}

div.wrapper li {
  list-style-type: none;
  list-style-position: inherit;
  text-align: left;
}

div.wrapper ul {
  padding: 5px;
}

div.wrapper li.class {
  font-weight: 800;
  padding: 1px;
}

.nology {
  grid-column: 1/20;
  grid-row: 1/10;
}

.unig {
  grid-column: 1/20;
  grid-row: 12/55;
}

.collegeg {
  grid-column: 1/20;
  grid-row: 55/75;
}

.schoolg {
  grid-column: 1/20;
  grid-row: 75/90;
}

.lib {
  grid-column: 60/100;
  grid-row: 1/22;
}

.thai {
  grid-column: 60/100;
  grid-row: 22/42;
}

.deliv {
  grid-column: 60/100;
  grid-row: 42/63;
}

.libb {
  grid-column: 30/37;
  grid-row: 15/40;
  border: 3px solid black;
  border-left: 0;
}

.thaib {
  grid-column: 30/35;
  grid-row: 20/29;
  border: 3px solid black;
  border-left: 0;
}

.delivb {
  grid-column: 30/37;
  grid-row: 15/40;
  border: 3px solid black;
  border-left: 0;
}

li.worklabel {
  height: 170px;
  z-index: 1;
  position: relative;
}

@media only screen and (min-width: 1014px) {
  li.worklabel {
    height: 50px;
    z-index: 1;
    position: relative;
  }
}
