body {
  background-color: lightgreen;
  position: relative;
}

li.worklabel,
li.worklabel:hover {
  height: 170px;
  z-index: 4;
  top: 0;
}

.square-image {
  height: 200px;
  width: 200px;
  background-size: cover;
  display: inline-flex;
  background-position: center;
  border-radius: 50%;
  filter: brightness(50%);
}

.square-image:hover {
  filter: brightness(100%);
  border: 5px solid magenta;
  cursor: pointer;
}

#school {
  background-image: url('llangatwgg.png');
}

#college {
  background-image: url('nptc.jpg');
}

#uni {
  background-image: url('unii.png');
}

#liberty {
  background-image: url('liberty.jpg');
}

#deliveroo {
  background-image: url('deliveroo.jpg');
}

#ubereats {
  background-image: url('ubereatss.png');
}

#volunteering {
  background-image: url('umphang.jpg');
}

#valleymill {
  background-image: url('valleymill.jpg');
}

#nology {
  background-image: url('nologyy.png');
}

@media only screen and (min-width: 1014px) {
  li.worklabel,
  li.worklabel:hover {
    height: 50px;
  }
}
